@use '@angular/material' as mat;
@mixin keyDates-component-theme($theme, $typography) {
	$ui-components-theme: map-get($theme, ui-components);
	.keydates-component {
		.case_header {
			display: inline-block;
			width: 100%;
			padding-bottom: 17px;
			padding-top: 35px;
			border-bottom: 1px solid mat.get-color-from-palette($ui-components-theme, legal-header-border);
		}
		.case_heading {
			padding: 7px 0 0 15px;
			float: left;
			@include mat.typography-level($typography, legal-header);
		}
		.btn_align {
			float: right;
		}
	}
}
