.selected-charges-item{
    width: auto;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 10px;
}

.selected-charges-main{
    margin-bottom: 15px;
}

.no-charge-selected{
    float: left;
    padding-top: 15px;
    margin-right: 10px;
}