/* :host ::ng-deep mat-dialog-actions{
    padding-left: 27px !important;
    padding-top: 0px;
}

:host ::ng-deep .mat-dialog-content{
    padding-bottom: 0px;
}

:host ::ng-deep .s4-panel-margin{
    margin: 0px !important;
} */