<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('ocuccide.title.popup')" screenId="OCUCCIDE" #dialog>
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
		<s4-panel [cardType]="true" [title]="translateService.translate('ocuccide.title')">
			<s4-grid [columnDefs]="caseIdentifierColumndef" [rowData]="caseIdentifire" [onInsert]="onGridInsert"
				enableInsert=true enableDelete=true enableUpdate=true [disabled]="disabled" [selected]="selected"
				(onCommit)="insertIndentifierRecord($event)">
			</s4-grid>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<s4-button (onClick)="cancel()">{{translateService.translate('common.exit')}}</s4-button>
	</s4-dialog-card-actions>
</s4-dialog-card>