<s4-dialog [title]="translateService.translate('oculcase.title')" screenId="OCULCASE" #dialog class="oculcase"> 
<s4-dialog-content>
	<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
	<s4-panel [title]="translateService.translate('oculcase.currentCase')"> 
		<s4-grid
		[columnDefs]="linkCaseColumndef" [rowData]="courtCasesData"
		[onInsert]="onGridInsert" [disabled]="disabled" [selected]="selected"> </s4-grid>
	
			 <s4-panel [title]="translateService.translate('oculcase.toThisCase')" > 
				 <s4-grid [selected]="selected"[columnDefs]="toThisCaseColumndef" [rowData]="lovLinkCase" (rowClicked)="onRowClicktothisCase($event)"
				[onInsert]="onGridInsert" [disabled]="disabled" [selected]="selected" class="grid-place"> </s4-grid>
	
				 <s4-panel [title]="translateService.translate('oculcase.hearing')" >
					  <s4-grid [selected]="selectedhearing"[columnDefs]="selHearColumndef" [rowData]="selectHearing"
					[onInsert]="onGridInsert" [disabled]="disabled" (rowClicked)="onRowClickHearing($event)" class="grid-position"> </s4-grid>
				</s4-panel> 
		</s4-panel>
	</s4-panel>
</s4-dialog-content> 

<s4-dialog-actions>
		<div fxLayout="row" fxLayoutGap="10px">
			 <button  class="link-unlink-btn"(click)="executeUnLinkCase()" *ngIf="disbaleUnlinkbtn" [title]="translateService.translate('oculcase.unlinkbtn')">
			 	 <mat-icon  svgIcon="Unlink"></mat-icon> 
				
			</button>
			<button class="link-unlink-btn" (click)="executeLinkCase()" *ngIf="disbaleLinkbtn" [title]="translateService.translate('oculcase.linkbtn')">
				<mat-icon  svgIcon="Link"></mat-icon>
				
			</button>
			<s4-button (onClick)="cancel()" class="btn_Exit">{{translateService.translate('oculcase.exitbtn')}}</s4-button>
		</div>
</s4-dialog-actions>
</s4-dialog>