<s4-dialog [title]="translateService.translate('ocdccases.offenses')" screenId="OCUSOFNC" #dialog> 
<s4-dialog-content>
<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-panel [title]="translateService.translate('ocdccases.offenses')">
	<s4-grid 
		[columnDefs]="ocusofncColumndef" [rowData]="offenseDialogData"
		(rowClicked)="onDialogRowClickEvent($event)">
	</s4-grid>
</s4-panel>

</s4-dialog-content> 
	<s4-dialog-actions>
		<s4-button (onClick)="processSelectedData()">{{translateService.translate('ocdccase.select')}}</s4-button>
		<s4-button (onClick)="cancel()"  style="margin-left :10px">{{translateService.translate('ocdccase.exit')}}</s4-button>
	</s4-dialog-actions>
</s4-dialog> 
		