<s4-dialog [title]="translateService.translate('ocuverkd.title')" #dialog screenId="OCUVERKD">
    <s4-dialog-content>
        <s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
        <s4-panel [title]="">
            <s4-grid #ocuverkdgrid [columnDefs]="ocuverkdCoumndef" [rowData]="ocuverkdData" [enableInsert]="false"
                [enableUpdate]="false" [enableDelete]="false">
            </s4-grid>
            </s4-panel>
    </s4-dialog-content>
    <s4-dialog-actions>
        <div fxLayout="row wrap" fxLayoutAlign="center end" fxLayoutGap="15px">
            <s4-button type="primary" (onClick)="save()"
                [disabled]="disSaveBtn">{{translateService.translate('ocuverkd.ok')}}</s4-button>
            <s4-button (onClick)="close()">{{translateService.translate('ocuverkd.cancel')}}</s4-button>
        </div>
    </s4-dialog-actions>
    </s4-dialog>