<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oidparoe.paroleEvents')" screenId="OIDPAROE"
    [selectedOffender]="vHeaderBlockModel" showInmateHeader=true limitSearchToCaseload=true
    (selectedOffenderChange)="onOffenderChange($event)" [isSingleSave]="true" (onSingleCommit)="onSave($event)"
	[isSingleSaveBtnDisable]="isSingleSaveBtnDisable" [singleSaveBtnText]="singleSaveBtnText" >
	<div fxLayout="column" fxLayoutAlign="space-between none">
		<div fxFlex="1 0 auto">
			<s4-panel [columnFlexType]="false" [cardType]="true" [title]="translateService.translate('oidparoe.paroleEvents')">
			<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px">
				<div fxFlex>
					<s4-grid #eventGrid [columnDefs]="eventColumnDefs"
						[rowData]="paroleEventData" (rowClicked)="onRowClickEvent($event)" (cellKeyDownOutputEvent)="cellKeyDownEventGrid($event)"
						 [enableInsert]="insertFlag" externalSave="true" enableUpdate=true [enableDelete]="true" [onInsert]= "onEventGridInsert"
						 [selected]="tableIndex" [onDelete]="onEventDelete" (mapsData)="onMapsData($event,'eventGrid')"[validateRow]="validateEventRowData"
						 (updatedMapsData)="onUpdatedMapsData($event,'eventGrid')"(clearedData)="onclearedData($event,'eventGrid')"> </s4-grid>
				</div>
			</div>
			</s4-panel>
			
			<s4-panel [columnFlexType]="false" [cardType]="true" [title]="translateService.translate('oidparoe.adjustments')">
			<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="15px">
				<div fxFlex>
					<s4-grid #adjustmentGrid [columnDefs]="adjustmentColumnDefs"
						[rowData]="adjustmentRowData"  [onInsert]="onGridInsert" (cellKeyDownOutputEvent)="cellKeyDown($event)"
						[enableInsert]="adjustInsertFlag" externalSave="true" enableUpdate=true [enableDelete]="true"
						[selected]="tableIndex"[validateRow]="validateRowData" (mapsData)="onMapsData($event,'adjustmentGrid')"  (rowClicked)="onAdjustmentRowClicked($event)" 
						[onDelete]="onAdjustmentDelete" (updatedMapsData)="onUpdatedMapsData($event,'adjustmentGrid')" (clearedData)="onclearedData($event,'adjustmentGrid')"> </s4-grid>
				</div>
			</div>
			</s4-panel>
		</div>
	</div>
</s4-pane>
    