:host ::ng-deep .rtl-grid .ag-theme-alpine .ag-ltr .ag-cell {
	align-items: center;
	display: inline-grid;
	white-space: pre-wrap;
 }

 :host ::ng-deep .rtl-grid .ag-theme-alpine .ag-ltr div[col-id='termTypeAndLength'] {
	line-height: 20px;
 }

 :host ::ng-deep mat-dialog-actions{
    padding-left: 27px !important;
    padding-top: 0px;
}

:host ::ng-deep .mat-dialog-content{
    padding-bottom: 0px;
}