<s4-dialog [title]="translateService.translate('termToLine.termtypeandlengthdetails')"  #dialog screenId="OCDCORDS"> 
    <s4-dialog-content>
    <s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
    <s4-panel [title]="">
        <s4-dynamic-grid #custodialdurationgrid [columnDefs]="termToLineCoumndef" [rowData]="termToLineData" [onDelete]="termToTypeDelete"
            [enableInsert]="true" [enableUpdate]="true" [enableDelete]="true" [externalSave]="true" [validateRow]="validateRowTerms" 
            [onInsert]="onTermToLineGridInsert">
        </s4-dynamic-grid>
    </s4-panel>
    
    </s4-dialog-content> 
        <s4-dialog-actions>
            <s4-button (onClick)="save()" [disabled]="termToLineData.length == 0">{{translateService.translate('common.select')}}</s4-button>
            <s4-button (onClick)="cancel()" style="margin-left:5px">{{translateService.translate('common.close')}}</s4-button>
        </s4-dialog-actions>
    </s4-dialog> 