<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oidissue.offenderissues')" screenId="OIDISSUE" showInmateHeader=true (selectedOffenderChange)="onOffenderChange($event)">
	<s4-panel [cardType]="true" [title]="translateService.translate('oidissue.issues')">
		<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="10px">
			<div fxFlex="1 0 auto">
				<s4-grid id="offendergrievancestab" #issueGrid [rowData]="offendergrievancesData" [columnDefs]="offenderGrievancesColumnDef"
				 (rowClicked)="onRowClickoffendergrievances($event)" (onCommit)="oidissueSaveoffendergrievancesForm($event)" [onInsert]="onGridInsert"
				 [enableInsert]="grievanceInsert" enableUpdate=true [enableDelete]="!(offendergrievancesModel && offendergrievancesModel.createFlag === 'N') && grievanceDelete" [validateRow]="validateRowData" [selected]="tableIndex"
				 [onDelete]="onGridDelete" [onClear]="onGrievanceClear" [externalSave]="true">
				</s4-grid>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex>
				<s4-textarea id="textcomment_text" [placeholder]="translateService.translate('common.comment')" [(ngModel)]="commentText"
				 maxlength="128" (keyup)="isInsertableOne(commentText)" [disabled]="!(offendergrievancesModel && offendergrievancesModel.createFlag === 'Y') || commentDisabled" minRows="2"></s4-textarea>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-launchbutton id="staff_inv_but" name="STAFF_INV_BUT" link="/OIUSTINV" modal="true" width="80%" [modalData]="offendergrievancesModel"
				[onLaunchClick]="onLaunchOiustinvBtnClick" (afterDialogClosed)="setDescriptionData()" [disabled]="!(offendergrievancesModel && offendergrievancesModel.createFlag === 'Y') ||staffInvBut">{{translateService.translate('oidissue.staffinvolved')}}</s4-launchbutton>
		</div>	
	</s4-panel>
	<s4-panel [cardType]="true" [title]="translateService.translate('oidissue.issuestransactions')">
		<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="10px">
			<div fxFlex="1 0 auto">
				<s4-grid id="offendergrievancetxnstab" #grid [rowData]="offendergrievancetxnsData" [columnDefs]="offenderGrievanceTxnsColumnDef"
				 (onCommit)="oidissueSaveoffendergrievancetxnsForm($event)" (rowClicked)="onRowClickoffendergrievancetxns($event)" [onInsert]="onGrievanceTxnsInsert"
				 [enableInsert]="grievanceTxnsInsert" enableUpdate=true [enableDelete]="!(offendergrievancesModel && offendergrievancesModel.createFlag === 'N') && grievanceTxnsDelete" [selected]="tableTxnsIndex"
				 [validateRow]="validateRowGrieveTxnsData"   [externalSave]="true" [onClear]="onGrievanceTxnsClear">
				</s4-grid>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="2 0 200px">
				<s4-textarea id="textproposed_response" [placeholder]="translateService.translate('oidissue.proposeresponse')" [(ngModel)]="proposedResponse"
				 maxlength="2000" [readonly]="proposeRspDisabled" minRows="5"></s4-textarea>
			</div>
			<div fxFlex="0 0 auto" fxFlexAlign="center">
				<s4-launchbutton id="append_but" name="APPEND_BUT" link='/OIUPRRES' modal="true" [modalData]="offendergrievancetxnsModel"
				 (afterDialogClosed)="setDescription($event)" [onLaunchClick]="onLaunchBtnClick" width="700px" [disabled]="appendReadOnly">{{translateService.translate('oidissue.append')}}</s4-launchbutton>
			</div>
			<div fxFlex="2 0 200px">
				<s4-textarea id="textofficial_response" [placeholder]="translateService.translate('oidissue.officialresponse')" [(ngModel)]="officialResponse"
				 maxlength="1000" (keyup)="isTxnsInsertable(officialResponse)" minRows="5" [disabled]="offResponsedisabled"></s4-textarea>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button id="butsave" (onClick)='onButSingleSave()' [disabled]="waitsavBtnflag">{{translateService.translate('common.btnsave')}}</s4-button>
			<s4-button id="staff_inv_but" name="STAFF_INV_BUT" (onClick)="onExitClicked()" [hidden]="!this.serviceData">{{translateService.translate('common.exit')}}</s4-button>
		</div>
		<!-- <div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<s4-button id="staff_inv_but" name="STAFF_INV_BUT" (onClick)="onExitClicked()" [hidden]="!this.serviceData">{{translateService.translate('common.exit')}}</s4-button>
		</div> -->
	</s4-panel>	
</s4-pane>
