<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('oiuincre.offenderincidents')"
	screenId="OIUINCRE" #dialog>
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-panel [cardType]="true" [title]="translateService.translate('Incidents')">
			<div fxLayout="column" fxLayoutAlign="space-between none">
				<div fxFlex="1 0 auto">
					<s4-grid id="agencyincidentstab" [rowData]="agencyincidentsData"
						[columnDefs]="agencyIncidentsColumnDef" (rowClicked)="onRowClickagencyincidents($event)"
						[selected]="incidentGridIndex">
					</s4-grid>
				</div>
			</div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary" id="but_select" [disabled]="btnDisable" name="BUT_SELECT" (click)="onButSelectclick()">
				{{this.translateService.translate('common.btnSelect')}}
			</s4-button>
			<s4-button id="but_cancel" (click)="butCancelWhenButtonPressedTrigger()">
				{{this.translateService.translate('common.btnCancel')}}
			</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>