<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('otmoflim.panetitle')" screenId="OTMOFLIM" showInmateHeader="true"
 (selectedOffenderChange)="onOffenderChange($event)">
	<s4-panel [cardType]="true" [title]="translateService.translate('otmoflim.paneltitle')">
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid id="offlimtab" [rowData]="offlimData" [columnDefs]="offLimColumnDef" (rowClicked)="onRowClickofflim($event)"
				 [onInsert]="onGridInsert" [enableInsert]="enableInsert" enableUpdate=true [enableDelete]=enableDelete [selected]="tableIndex"
				  (onCommit)="otmoflimSaveofflimForm($event)" [onInsert]="onGridInsert"></s4-grid>
			</div>
		</div>
	</s4-panel>
</s4-pane>