<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('oiintloc.internallocations')"
	[screenId]="translateService.translate('oiintloc.oiintloc')" #dialog>
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-panel [cardType]="true" [title]="translateService.translate('oiintloc.usage')">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="15px">
				<!-- <div>
					{{translateService.translate('oiintloc.usage')+'\t'+'\t'+'\t'}}
				</div> -->
				<div fxFlex="50">
					<s4-lov [placeholder]="translateService.translate('oiintloc.usage')+'\t'+'\t'+'\t'"
						id="selnbt_usage_desc" [(ngModel)]="usage" (ngModelChange)="intlocExecuteQuery($event)"
						link="oidintmv/rgUsagesRecordGroup">
					</s4-lov>
				</div>
			</div>
			<div class="divider my-1">
				<mat-divider></mat-divider>
			</div>
			<div fxLayout="column" fxLayoutAlign="space-between none">
				<div fxFlex="1 0 auto">
					<s4-grid id="intloctab" [rowData]="intlocData" [columnDefs]="intLocColumnDef"
						(rowClicked)="onRowClickintloc($event)" [selected]="offLocIndex">
					</s4-grid>
				</div>
			</div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary" id="textbut_select" link="/OIDINTMV" (onClick)="getData()"
				[disabled]="disableSelectBtn">
				{{translateService.translate('common.select')}}
			</s4-button>
			<s4-button id="textbut_cancel" (onClick)="cancel()">
				{{translateService.translate('common.cancel')}}
			</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>