<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oidfixad.fixedassetsdetails')" screenId="OIDFIXAD" 
[isSingleSave]="true" (onSingleCommit)="onSave()" [isSingleSaveBtnDisable]="isSingleSaveBtnDisable">
	<s4-panel [title]="translateService.translate('oidfixad.assets')" [cardType]="true">
		<div fxLayout="column" fxLayoutAlign="space-between none">

			<div fxFlex="1 0 auto">
				<s4-grid #fagrid id="fatab" [rowData]="faData" [columnDefs]="faColumnDef" [enableInsert]="enableInsert" enableUpdate=true
					enableDelete=true (rowClicked)="onRowClickfa($event)" externalSave="true"  [enableDelete]="gridDelBtn" 
					[onInsert]="onFaGridInsert" [onDelete]="onFaGridDelete" [validateRow]="validateRowData" [onClear]="OnGridClearPlan">
				</s4-grid>
			</div>
			<!-- (clearedData)="onclearedData()" -->
		</div>
		<s4-panel [title]="translateService.translate('oidfixad.assetdetails')" [cardType]="true">
			
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="1 0 auto">
					<s4-textbox id="textserial_no" (ngModelChange)="change()" [(ngModel)]="faModel.serialNo" [placeholder]="translateService.translate('oidfixad.serial#')" maxlength="20">
					</s4-textbox>
				</div>
				<div fxFlex="1 0 auto">
					<s4-datepicker id="dateYEAR" (ngModelChange)="change()" [(ngModel)]="faModel.year" dateFormat="YYYY"  pattern="[0-9]{4}" [placeholder]="translateService.translate('oidfixad.year')">
					</s4-datepicker>
				</div>
				<div fxFlex="1 0 auto">
					<s4-lov id="seldsp_description" (optionChange)="optionChange()" [(ngModel)]="faModel.color" [placeholder]="translateService.translate('oidfixad.color')" domain='PPTY_COLOR' maxlength="12">
					</s4-lov>
				</div>
			</div>
		</s4-panel>

		<s4-panel [title]="translateService.translate('oidfixad.vehicledetails')" [cardType]="true">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="1 0 auto">
					<s4-number id="numvehicle_id" [(ngModel)]="vehModel.vehicleId" [placeholder]="translateService.translate('oidfixad.vehicleid#')"
						[required]="true" [readonly]="vehicleIdRead" whole="true" min="0" max="999999" (ngModelChange)="fieldChange()">
					</s4-number>
				</div>
				<div fxFlex="1 0 auto">
					<s4-textbox id="textplate_no" [(ngModel)]="vehModel.plateNo" [placeholder]="translateService.translate('oidfixad.plate#')" maxlength="12"
					(ngModelChange)="fieldChange()">
					</s4-textbox>
				</div>
				<div fxFlex="1 0 auto">
					<s4-lov id="seldsp_description" [(ngModel)]="vehModel.licenceClass" [placeholder]="translateService.translate('oidfixad.licreq')" domain='TPT_VEH_LIC' maxlength="12"
					(optionChange)="fieldChange()">
					</s4-lov>
				</div>
				<div fxFlex="1 0 auto">
					<s4-lov id="seldsp_description3" [(ngModel)]="vehModel.fuelType" [placeholder]="translateService.translate('oidfixad.fueltype')" domain='FA_FUEL_TYPE' maxlength="12"
					(optionChange)="fieldChange()">
					</s4-lov>
				</div>
				<div fxFlex="1 0 auto">
					<s4-number id="numoptimal_capacity" [(ngModel)]="vehModel.optimalCapacity" [placeholder]="translateService.translate('oidfixad.optimalcapacity')"
						[required]="true" whole="true" min="0" max="999" (ngModelChange)="fieldChange()">
					</s4-number>
				</div>
				<div fxFlex="1 0 auto">
					<s4-number id="numcapacity" [(ngModel)]="vehModel.capacity" [placeholder]="translateService.translate('oidfixad.physicalcapacity')"
						[required]="true"  whole="true" min="0" max="999" (ngModelChange)="fieldChange()">
					</s4-number>
					
				</div>
			</div>
		</s4-panel>
	</s4-panel>
</s4-pane>