@use '@angular/material' as mat;
@mixin login-theme($theme, $typography) {
    $ui-components-theme: map-get($theme, ui-components);
    $login-panel-language-button-color: map-get($ui-components-theme, login-panel-language-button-color);
    $login-panel-selected-language-button-color: map-get(
        $ui-components-theme,
        login-panel-selected-language-button-color
    );
    .s4-login-page {
        .logindiv-left {
            height: 100%;
        }
        .logindiv {
            width: 400px;
            background: mat.get-color-from-palette($ui-components-theme, login-panel-background);
            padding: 30px;
            border-radius: 0;
            box-shadow: none;
            height: 100vh;
        }
        .lgnbody {
            background-image: map-get($ui-components-theme, login-background-image);
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            background-color: gray;
            padding: 0 32px;
            box-sizing: border-box;
        }
        .lgntitle {
            font-size: 22px;
        }
        .lgnheader {
            color: mat.get-color-from-palette($ui-components-theme, login-intro-header-color);
            @include mat.typography-level($typography, login-intro-header);
        }
        .lgnaction {
            margin: 5px;
        }
        .lgnbody-inner {
            width: 80%;
            height: 80%;
            margin: auto;
        }
        .login-logo {
            margin-top: 40px;
            margin-bottom: 40px;
            img {
                width: 300px;
            }
        }
        .login-text {
            text-align: center;
            color: mat.get-color-from-palette($ui-components-theme, login-intro-body-color);
            @include mat.typography-level($typography, login-intro-body);
        }
        .login-title {
            span {
                @include mat.typography-level($typography, login-panel-title-bold);
            }
            color: mat.get-color-from-palette($ui-components-theme, login-panel-title-color);
            margin-top: 70px;
            margin-bottom: 40px;
            text-align: left;
            @include mat.typography-level($typography, login-panel-title);
        }
        .signin-btn {
            margin-top: 22px;
        }
        .lgnaction {
            bottom: 45px;
            margin: 0;
            padding: 10px 0 0 0;
        }
        .language-btn {
            display: flex;
            width: 100%;
            height: 34px;
            background-color: mat.get-color-from-palette($ui-components-theme, login-panel-language-button-background);
        }
        .flag-icon {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin-left: 5px;
        }
        .image_position {
            position: relative;
            top: 5px;
        }
        .active div {
            background-color: mat.get-color-from-palette($ui-components-theme, login-panel-language-selected-background) !important;
        }
        .active div::after {
            content: "";
            background-image: url(/assets/images/tick-icon.png);
            width: 12px;
            height: 8px;
            display: inline-block;
            margin-left: 4px;
            position: relative;
            top: 11px;
        }
        .select-lang-title {
            color: mat.get-color-from-palette($ui-components-theme, login-panel-language-title-color);
            text-align: left;
            margin-bottom: 20px;
            padding: 5px;
            @include mat.typography-level($typography, login-panel-language-title);
        }
        .langtext {
            margin: 6px 0 0 3px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: map-get($ui-components-theme, login-language-button-color);
        }
        .lgnaction {
            .active {
                .langtext {
                    color: map-get($ui-components-theme, login-selected-language-button-color);
                }
            }
        }
    }
}
