<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oiimpqac.title')" screenId="OIIMPQAC">

	<s4-panel [cardType]="true" [title]="translateService.translate('oiimpqac.import')">
		<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px" class="btn-mt9">
				<input #fileInput class="custom-file-input" type='file' (change)="onSelectFile($event)"
					accept=".zip" multiple>
				<s4-textbox [placeholder]="" [(ngModel)]="fileName" [readonly]="true"></s4-textbox>
				<s4-button (onClick)="fileInput.click()">{{translateService.translate('oiimpqac.browse')}}</s4-button>
			
		</div>
		<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary" (onClick)="import()">{{translateService.translate('oiimpqac.import')}}</s4-button>
			<s4-button (onClick)="cancel()">{{translateService.translate('oiimpqac.cancel')}}</s4-button>
		</div>
	</s4-panel>

	<s4-panel [cardType]="true" [title]="translateService.translate('oiimpqac.grid')">
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid #oiimpqacGrid [rowData]="oiimpqacData" [columnDefs]="oiimpqacColumnDef"
					[enableInsert]="false" [enableUpdate]="false" [enableDelete]="false">
				</s4-grid>
			</div>
			<div *ngIf="oiimpqacData.length > 0" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
				<s4-button type="primary" (onClick)="save()">{{translateService.translate('common.btnsave')}}</s4-button>
			</div>
		</div>

	</s4-panel>
</s4-pane>