<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oumagyrg.panetitle')" screenId='OUMAGYRG'>
	<s4-panel [cardType]="true" [title]="translateService.translate('oumagyrg.paneltitle')">
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid #grid id="agyloctab" [rowData]="agylocData" [columnDefs]="agyLocColumnDef"
					[validateRow]="validateRowData" [selected]="tableIndex" enableUpdate=true
					(onCommit)='oumagyrgSaveagylocForm($event)' (rowClicked)="onRowClickalert($event)"></s4-grid>
			</div>
		</div>
	</s4-panel>
</s4-pane>