<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('ociscata.advancedsearchforservicecatalogue')" screenId ="OCISCATA" #dialog>
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-panel [cardType]="true" [title]="translateService.translate('ociscata.advancedsearchcriteria')">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="2 0 200px">
					<s4-lov [placeholder]="translateService.translate('ociscata.gender')" [(ngModel)]="gender" [link]="genderLink" (change)="onGenderChange()"
					 (optionChange)="onGenderWhenValidationItemTrigger()" domain='PS_SEX'> </s4-lov>
				</div>
				<div fxFlex="2 0 200px">
					<s4-lov [placeholder]="translateService.translate('ociscata.raceethnicity')" [(ngModel)]="race" [link]="raceLink" (change)="onRaceChange()"
					 (optionChange)="onRaceWhenValidationItemTrigger()" domain='ETHNICITY'></s4-lov>
				</div>
				<div fxFlex="2 0 200px">
					<s4-lov [placeholder]="translateService.translate('ociscata.agerange')" [(ngModel)]="age" [link]="ageLink" (change)="onAgeChange()"
					 (optionChange)="onAgeWhenValidationItemTrigger()" domain='PS_AGE_RANGE'> </s4-lov>
				</div>
				<div fxFlex="2 0 200px">
					<s4-lov [placeholder]="translateService.translate('ociscata.facilitiesavailable')" [(ngModel)]="facility" [link]="facilitiesLink"
					 (change)="onFacilityChange()" (optionChange)="onFacilityWhenValidationItemTrigger()" domain='PS_FACILITY'></s4-lov>
				</div>
			</div>
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="2 0 200px">
					<s4-lov [placeholder]="translateService.translate('ociscata.includegroup')" [(ngModel)]="includeGroup" [link]="inExGroupLink"
					 (change)="onIncludeChange()" (optionChange)="onInWhenValidationItemTrigger()" domain='PS_OFF_GRPS'> </s4-lov>
				</div>
				<div fxFlex="2 0 200px">
					<s4-lov [placeholder]="translateService.translate('ociscata.excludegroup')" [(ngModel)]="excludeGroup" [link]="inExGroupLink"
					 (change)="onExcludeChange()" (optionChange)="onExWhenValidationItemTrigger()" domain='PS_OFF_GRPS'></s4-lov>
				</div>
				<div fxFlex="2 0 500px">
					<s4-lov [placeholder]="translateService.translate('ociscata.status')" [(ngModel)]="status" [link]="statusLink" 
					 (change)="onStatusChange()" (optionChange)="onStatusWhenValidationItemTrigger()" domain='PS_AVAIL'>
					</s4-lov>
					<!-- [titles]="statusTitles" -->
				</div>
				<!-- <div fxFlex="0 0 auto">
					<s4-button (onClick)="getData($event)">{{this.translateService.translate('ociscata.setexitbtn')}}</s4-button>
				</div> -->
			</div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px">
			<s4-button type="primary" (onClick)="getData($event)">{{this.translateService.translate('ociscata.setexitbtn')}}</s4-button>
			<s4-button (onClick)="clearData()">{{this.translateService.translate('common.clear')}}</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>