<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oidallow.offenderallowences')" screenId="OIDALLOW"
    showInmateHeader=true (selectedOffenderChange)="onOffenderChange($event)">
    <s4-panel [cardType]="true" [title]="translateService.translate('oidallow.offenderallowences')">
        <div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
            <div fxFlex="100%" fxLayoutGap="10px">
                <s4-grid #offenderAllowence id="offenderAllowence" [rowData]="offenderAllowenceData"
                    [columnDefs]="offenderAllowenceDataColumnDef" [enableInsert]="enableInsertGrid" enableUpdate="true"
                    (rowClicked)="onRowClickOffenderAllowenceData($event)" [selected]="offenderAllowenceIndex"
                    [enableDelete]="enableDeleteGrid"  [onInsert]="onGridInsert" [onClear]="onGridClear"
                    [validateRow]="validateRowDataAllowence" (onCommit)="offenderAllowenceDataCommit($event)"></s4-grid>                 
            </div>
        </div>       
    </s4-panel>
</s4-pane>