<mat-form-field class="component-full-width" #container>
  <label class="s4-label">{{placeholder}}</label>
    <span *ngIf="required" class="mat-form-field-common">*</span>
    <span>
    <mat-error *ngIf="textControl.hasError('required') && (textControl.dirty || textControl.touched)"> 
		{{placeholder}} is required. 
	</mat-error>
	<mat-error *ngIf = "textControl.hasError('minTime') && (textControl.dirty || textControl.touched)">
		{{placeholder}} must be at least {{minTime}}.
	</mat-error>
    <mat-error *ngIf = "textControl.hasError('maxTime') && (textControl.dirty || textControl.touched)">
		{{placeholder}} cannot exceed {{maxTime}}.
	</mat-error>
	<mat-error *ngIf="textControl.hasError('InvalidFormat') && (textControl.dirty || textControl.touched)">
			Valid {{placeholder}} Format Required* ({{timeFormat}}).		
		</mat-error>
    </span>
		<input matInput type="text" 
		 [(ngModel)]="value" (blur)="onBlur()" matTooltip="{{timeFormat}}"
		[disabled]="disabled" [readonly]="readonly" [required]="required"
		id="id" #textControl="ngModel" #text 
		 [textMask]="{mask:timeMask()}"
		>	
</mat-form-field>
