<s4-dialog-card class="tasklist-navDlg s4-dialog-card" #dialog>
    <s4-dialog-card-content class="s4-dialog-card-content">
        <app-dynamiccomp> </app-dynamiccomp>
    </s4-dialog-card-content>
    <s4-dialog-card-actions class="s4-dialog-card-actions">
        <div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
            <s4-button type="primary" (onClick)="dialog.close(null)">{{translateService.translate('common.exit')}}</s4-button>
        </div>
    </s4-dialog-card-actions>
</s4-dialog-card>