@mixin grid-filter-selectbox-theme($theme) {
  $ui-components-theme: map-get($theme, ui-components);
  ::ng-deep .ag-filter {
    width: auto !important;
  }
  grid-filter-selectbox {
    width: inherit;
    display: block;
    .grid-filter-select-options {
      .mat-list-item {
        display: block;
        height: auto;
        font-size: 16px;
        padding: 3px 6px;
        width: inherit;
        .mat-list-item-content {
          padding: 0 0;
          align-items: flex-start;
        }
      }
    }
    .grid-filter-select-check {
      display: block;
      padding: 0 6px;
      .mat-checkbox-layout {
        text-align: left;
        font-size: 16px;
        .mat-checkbox-inner-container {
          margin-right: 12px;
        }
      }
    }
    .grid-filter-select-options .mat-list-text {
      font-size: 14px;
    }
  }
}
