<s4-dialog-card class="s4-dialog-card" [title]="title" screenId="OIPASINF" #dialog>
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-panel [cardType]="true" [title]="">
			<div fxLayout="row" >
                <div fxFlex *ngIf="showPassword"> {{ password }}</div>
				<div fxFlex *ngIf="!showPassword"> {{translateService.translate('oipasinf.notallowtoaccess')}} </div>
            </div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class=""btn-mt9>
			<s4-button id="password-dialog-close" (onClick)="close()">{{translateService.translate('common.close')}}</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>

