<div  fxFlex="100%" fxLayout="column" fxLayoutGap="5px;">

	<div fxLayout="row" fxLayoutGap="5px;">
		<div fxFlex="1 0 250px;" fxLayoutAlign="start" class="mat-body-2"><s4-hyperlink>Supervision Details</s4-hyperlink></div>
		<div fxLayoutAlign="end"><s4-hyperlink ><i class="material-icons">launch</i></s4-hyperlink></div>
	</div>

	<div fxLayout="row" fxLayoutGap="5px;">
		<div fxFlex="0 0 250px;" class="mat-body-1 align-last">Longest Supervision Expiration Date:</div>
		<div fxFlex="1 0 100px;" class="mat-body-1 value">{{longestSupervisiondate}}</div>
	</div>
	
	<div fxLayout="row" fxLayoutGap="5px;">
		<div  fxFlex="0 0 200px;" class="mat-body-1 align-last">Supervision Status:</div>
		<div  fxFlex="1 0 100px;" class="mat-body-1 value">{{supervisionStatus}}</div>
	</div>
	
	<div fxLayout="row" fxLayoutGap="5px;">
		<div  fxFlex="0 0 200px;"  class="mat-body-1 align-last">Outcount Status:</div>
		<div  class="mat-body-1 value" fxLayout="row wrap">{{outcountStatus}}</div>
	</div>
</div>   