<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-dialog-card class="s4-dialog-card"
	[title]="translateService.translate('ocunoque.notes')" screenId="CMDQUERY" #dialog>
	<s4-dialog-card-content class="s4-dialog-card-content" id="cmdquery_dlgactn">
		<s4-panel [cardType]="true">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px">
				<div fxFlex="1 0 100px">
					<s4-textarea id="query" [(ngModel)]="querytext" (ngModelChange)="queryInsert($event)"
						[placeholder]="translateService.translate('ocunoque.notes')" maxlength="4000"
						minRows="8">
					</s4-textarea>
				</div>
			</div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary" id="query_save" [disabled]="saveDisable" (click)="onSave()">
				{{translateService.translate('common.savebtn')}}
			</s4-button>
			<s4-button id="but_exit" name="BUT_EXIT" (click)="onButExitclick()" [disabled]="exitDisable">
				{{translateService.translate('common.exit')}}
			</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>