<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<div [hidden]="hideModular" #ref class="diagram-container">
  <div class="showProperties">
    <button mat-icon-button (click)="showProperties()">
      <mat-icon matTooltip="Open Properties" matTooltipPosition="before">{{translateService.translate('oumcambpmn.settings')}}</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="hideModular">
  <s4-panel style="height: calc(100vh - 10%);">
    <textarea style="height:396px; width: 963px;" autoSize="true" [spellcheck]="false" [(ngModel)]="xmlText"></textarea>
  </s4-panel>
</div>
<ejs-sidebar id="default-sidebar" #sidebar [type]="'Over'" [enableGestures]="false" [position]="'Right'" [target]="'.diagram-container'"
  [enableDock]='false' [dockSize]="'35px'">
  <div class="hideProperties">
    <button mat-icon-button (click)="hideProperties()">
      <mat-icon [matTooltip]="translateService.translate('oumcambpmn.close')" matTooltipPosition="before">{{translateService.translate('oumcambpmn.close')}}</mat-icon>
    </button>
  </div>
  <div class="propContainer">
    <div class="fieldsContainer">
      <!-- common params start-->
      <s4-textbox *ngIf="showField('name')" [ngModel]="entityValueGet('name')" [placeholder]="translateService.translate('oumcambpmn.name')" (ngModelChange)="entityValueChange($event, 'name')">
      </s4-textbox>
      <!-- common params end-->
      <!-- user task params start-->
      <s4-lov [titles]="lovTitles" link="cmdwork/rgModulesRecordGroup" *ngIf="showField('moduleName')" [ngModel]="entityValueGet('moduleName')" [placeholder]="translateService.translate('oumcambpmn.usertaskmodule')" (ngModelChange)="entityValueChange($event, 'moduleName')">
      </s4-lov>
      <span *ngIf="showField('camunda:candidateGroups')">
      <s4-lov [titles]="lovTitles"  [options]="teamOptions" [ngModel]="entityValueGet('teamselectionType')" [placeholder]="translateService.translate('oumcambpmn.teamtype')" (ngModelChange)="entityValueChange($event, 'teamselectionType')" >
      </s4-lov>
      <span *ngIf="this.entityPropMap.get('teamselectionType') === 'TEAM_MANNUAL'" >
        <s4-multiselect  [mode]="'CheckBox'" [titles]="{ text: 'description', value: 'code' }" [options]="teamList" [ngModel]="entityValueGet('camunda:candidateGroupSelection')" cacheLink="true" [placeholder]="translateService.translate('oumcambpmn.team')" (ngModelChange)="entityValueChange($event, 'camunda:candidateGroupSelection')">
        </s4-multiselect>
      </span>
      <span  *ngIf="this.entityPropMap.get('teamselectionType') === 'TEAM_DYNAMIC'">
        <s4-textbox  [ngModel]="entityValueGet('camunda:candidateGroupDynamic')" [placeholder]="translateService.translate('oumcambpmn.team')" (ngModelChange)="entityValueChange($event, 'camunda:candidateGroupDynamic')">
        </s4-textbox>
        </span>
      
    </span>
    
      <s4-textbox *ngIf="showField('camunda:dueDate')" [ngModel]="entityValueGet('camunda:dueDate')" [placeholder]="translateService.translate('oumcambpmn.duedate')" (ngModelChange)="entityValueChange($event, 'camunda:dueDate')">
      </s4-textbox>
      <s4-textbox *ngIf="showField('camunda:followUpDate')" [ngModel]="entityValueGet('camunda:followUpDate')" [placeholder]="translateService.translate('oumcambpmn.followupdate')" (ngModelChange)="entityValueChange($event, 'camunda:followUpDate')">
      </s4-textbox>
      <s4-number *ngIf="showField('camunda:priority')" [ngModel]="entityValueGet('camunda:priority')" [placeholder]="translateService.translate('oumcambpmn.priority')" (ngModelChange)="entityValueChange($event,  'camunda:priority')">
      </s4-number>
      <s4-lov [titles]="lovTitles" [options]="workflowActions" *ngIf="showField('approveBtn')" [ngModel]="entityValueGet('approveBtn')" [placeholder]="translateService.translate('oumcambpmn.workflowaction')" (ngModelChange)="entityValueChange($event, 'approveBtn')">
      </s4-lov>
      <!-- user task params end-->
      <!-- sequence params start-->
      <s4-textarea *ngIf="showField('expression')" minRows="5" [ngModel]="entityValueGet('expression')" [placeholder]="translateService.translate('oumcambpmn.expression')" (ngModelChange)="entityValueChange($event, 'expression')">
      </s4-textarea>
      <div *ngIf="showField('expression')" class="gatewayDataTxt">
        <div *ngFor="let userObj of this.entityPropMap.get('userTaskMap')">
          <span *ngIf="userObj.name && userObj.formVars">
            <strong> Name : {{userObj.name}} / </strong>
          </span>
          <span *ngIf="userObj.id && userObj.formVars">
            <strong> Id: {{userObj.id}} </strong> 
          </span>
          <br *ngIf="userObj.formVars">
          <span *ngIf="userObj.formVars">
            <span *ngFor="let userVar of userObj.formVars">
              {{userVar}} <br>
            </span>
          </span>
          <hr *ngIf="userObj.formVars">
        </div>
      </div>
      <!-- sequence params end-->
      <!-- script task params start-->
      <s4-textbox *ngIf="showField('scriptFormat')" [ngModel]="entityValueGet('scriptFormat')" [placeholder]="translateService.translate('oumcambpmn.scriptformat')" (ngModelChange)="entityValueChange($event, 'scriptFormat')">
      </s4-textbox>
      <s4-textarea *ngIf="showField('script')" minRows="5" [ngModel]="entityValueGet('script')" [placeholder]="translateService.translate('oumcambpmn.script')" (ngModelChange)="entityValueChange($event, 'script')">
      </s4-textarea>
      <!-- script task params end-->
      <!-- start event params start-->
      <div [hidden] = "hideOnCmnPros">
      <s4-lov  [titles]="lovTitles" [options]="timerOptions" *ngIf="showTimer" [ngModel]="entityValueGet('timerType')" [placeholder]="translateService.translate('oumcambpmn.timerdefinitiontype')" (ngModelChange)="entityValueChange($event, 'timerType')">
      </s4-lov>
      <s4-textbox *ngIf="showTimer" [ngModel]="entityValueGet('timer')" [placeholder]="translateService.translate('oumcambpmn.timerdefinition')" (ngModelChange)="entityValueChange($event, 'timer')">
      </s4-textbox>
      <s4-lov  [hidden] = "hideForTimer" [titles]="moduleTitles" link="cmdwork/rgModuleTriggersRecordGroup" *ngIf="showField('startModuleName')" [(ngModel)]="module" [placeholder]="translateService.translate('oumcambpmn.starteventmodule')" (optionChange)="startModuleChange($event)">
      </s4-lov>
      <div *ngIf="(startFormVabs && !!startFormVabs.length ) && showField('startModuleName')" class="s4-checkbox-main">
        <div class="s4-label">{{translateService.translate('oumcambpmn.processvariables')}}</div>
        <div *ngFor="let i of startFormVabs">
          <s4-checkbox [ngModel]="entityValueGet(i)" (ngModelChange)="startEntityValueChange($event, i)">
            {{i}}</s4-checkbox>
          </div>
      </div>
      </div>
      <!-- start event params end-->
      <!-- service task params start-->
      <s4-lov [titles]="lovTitles" [options]="connectorOptions" *ngIf="showField('connectorId')" [ngModel]="selectedAction" [placeholder]="translateService.translate('oumcambpmn.actions')" (ngModelChange)="entityValueChange($event, 'connectorId')">
      </s4-lov>
      <s4-lov [titles]="lovTitles" link="cmdwork/rgModulesRecordGroup" *ngIf="showDocTemplate" [ngModel]="entityValueGet('templateType')" [placeholder]="translateService.translate('oumcambpmn.servicetaskmodule')" (ngModelChange)="loadDocTemplates($event)">
      </s4-lov>
      <s4-lov [titles]="lovTitles" [options]="templateList" *ngIf="showDocTemplate" [ngModel]="entityValueGet('templateName')" [placeholder]="translateService.translate('oumcambpmn.documenttemplate')" (optionChange)="entityValueChange($event, 'templateObj')">
      </s4-lov>


       <!--  caseNote service task type and sub type params start -->
      <s4-lov [titles]="lovTitles" [options]="sourceData" *ngIf="showCaseNoteLov" [ngModel]="entityValueGet('sourceName')" [placeholder]="translateService.translate('oumcambpmn.sourceName')" (ngModelChange)="entityValueChange($event,'sourceName')">
      </s4-lov>
      <s4-lov [titles]="lovTitles" [options]="caseNoteData" *ngIf="showCaseNoteLov" [ngModel]="entityValueGet('workType')" [placeholder]="translateService.translate('oumcambpmn.casenoteworktype')" (ngModelChange)="entityValueChange($event,'workType')" [source]="'OCMWORKS'">
      </s4-lov>
      <s4-lov [titles]="lovTitles" [options]="caseNoteSubData" *ngIf="showCaseNoteLov" [ngModel]="entityValueGet('workSubType')" [placeholder]="translateService.translate('oumcambpmn.casenoteworksubtype')" (ngModelChange)="entityValueChange($event,'workSubType')">
      </s4-lov>

<!--  caseNote service task params end -->

      <span *ngIf="iParams && !!iParams.length" >
        <span *ngFor="let i of iParams">
          <s4-textbox *ngIf="i.code !='messageText'" [ngModel]="entityValueGet(i.code)" [placeholder]="i.description" (ngModelChange)="entityValueChange($event, i.code)">
          </s4-textbox>
          <s4-textarea *ngIf="i.code =='messageText'" minRows="5" [ngModel]="entityValueGet(i.code)" [placeholder]="i.description" (ngModelChange)="entityValueChange($event, i.code)">
          </s4-textarea>
        </span>
      </span>
<!--  connect external system input start -->
<s4-textbox *ngIf="showExternalSystem" [ngModel]="entityValueGet('inputExternal')" [placeholder]="translateService.translate('oumcambpmn.inputexternal')" (ngModelChange)="entityValueChange($event, 'inputExternal')">
</s4-textbox>


<!--  connect external system input end -->

<!--  connect external system input start -->
<span *ngIf="showQueueLov && selectedAction === 'QUEUE_NOTIFY'" >
<s4-textbox  [ngModel]="entityValueGet('serviceBusInput')" [placeholder]="translateService.translate('oumcambpmn.servicebusinput')" (ngModelChange)="entityValueChange($event, 'serviceBusInput')">
</s4-textbox>

<s4-lov [titles]="queueLovTitles" link="oumsyset/getServiceBusQueueConf" [ngModel]="entityValueGet('queueName')" [placeholder]="translateService.translate('oumcambpmn.queuename')" (ngModelChange)="entityValueChange($event,'queueName')">
</s4-lov>
</span>
<!--  connect external system input end -->


      <!-- Email params start-->
      <span *ngIf="eParams && !!eParams.length && selectedAction === 'EMAIL'" >
        <!-- <span *ngFor="let i of eParams"> -->
          <s4-textbox [ngModel]="entityValueGet('toId')" [placeholder]="translateService.translate('oumcambpmn.recipients')" (ngModelChange)="entityValueChange($event, 'toId')">
          </s4-textbox>
          <s4-textbox  [ngModel]="entityValueGet('subject')" [placeholder]="translateService.translate('oumcambpmn.subject')" (ngModelChange)="entityValueChange($event, 'subject')">
          </s4-textbox>
          <s4-lov [titles]="lovTitles" [options]="emailTemplateOptions" [ngModel]="entityValueGet('emailType')" [placeholder]="translateService.translate('oumcambpmn.bodytype')" (ngModelChange)="entityValueChange($event, 'emailType')">
          </s4-lov>
          <s4-textarea [disabled]="this.entityValueGet('emailType') === 'TEMPLATE' || this.entityValueGet('emailType') === 'TEMPLATE_ADVANCE'" minRows="5" [ngModel]="entityValueGet('body')" [placeholder]="translateService.translate('oumcambpmn.body')" (ngModelChange)="entityValueChange($event, 'body')">
          </s4-textarea>
          <span>{{translateService.translate('oumcambpmn.or')}}</span>
          <s4-lov [disabled]="this.entityValueGet('emailType') === 'MANUAL'" [titles]="lovTitles" link="eoffender/document/getEmailTemplates" [ngModel]="entityValueGet('emailTemplate')" [placeholder]="translateService.translate('oumcambpmn.emailtemplate')" (ngModelChange)="entityValueChange($event, 'emailTemplate')">
          </s4-lov>
          <s4-textbox  [disabled]="this.entityValueGet('emailType') === 'MANUAL' || this.entityValueGet('emailType') === 'TEMPLATE_ADVANCE'" [ngModel]="entityValueGet('emailOffenderBookId')" [placeholder]="translateService.translate('Offender Book Id')" (ngModelChange)="entityValueChange($event, 'emailOffenderBookId')">
          </s4-textbox>
          <s4-textbox  [disabled]="this.entityValueGet('emailType') === 'MANUAL' || this.entityValueGet('emailType') === 'TEMPLATE'" [ngModel]="entityValueGet('templateInput')" [placeholder]="translateService.translate('PayLoad Input')" (ngModelChange)="entityValueChange($event, 'templateInput')">
          </s4-textbox>
        <!-- </span> -->
      </span>
      <!-- Email params end-->
      <!-- Sms params start-->
      <span *ngIf="eParams && !!eParams.length && selectedAction === 'SMS'" >
        <!-- <span *ngFor="let i of eParams"> -->
          <s4-textbox [ngModel]="entityValueGet('toId')" [placeholder]="translateService.translate('oumcambpmn.recipients')" (ngModelChange)="entityValueChange($event, 'toId')">
          </s4-textbox>
          <s4-lov [titles]="lovTitles" [options]="emailTemplateOptions" [ngModel]="entityValueGet('emailType')" [placeholder]="translateService.translate('oumcambpmn.bodytype')" (ngModelChange)="entityValueChange($event, 'emailType')">
          </s4-lov>
          <s4-textarea [disabled]="this.entityValueGet('emailType') === 'TEMPLATE' || this.entityValueGet('emailType') === 'TEMPLATE_ADVANCE'" minRows="5" [ngModel]="entityValueGet('body')" [placeholder]="translateService.translate('oumcambpmn.body')" (ngModelChange)="entityValueChange($event, 'body')">
          </s4-textarea>
          <span>{{translateService.translate('oumcambpmn.or')}}</span>
          <s4-lov [disabled]="this.entityValueGet('emailType') === 'MANUAL'" [titles]="lovTitles" link="eoffender/document/getEmailTemplates" [ngModel]="entityValueGet('emailTemplate')" [placeholder]="translateService.translate('oumcambpmn.emailtemplate')" (ngModelChange)="entityValueChange($event, 'emailTemplate')">
          </s4-lov>
          <s4-textbox  [disabled]="this.entityValueGet('emailType') === 'MANUAL' || this.entityValueGet('emailType') === 'TEMPLATE_ADVANCE'" [ngModel]="entityValueGet('emailOffenderBookId')" [placeholder]="translateService.translate('Offender Book Id')" (ngModelChange)="entityValueChange($event, 'emailOffenderBookId')">
          </s4-textbox>
          <s4-textbox  [disabled]="this.entityValueGet('emailType') === 'MANUAL' || this.entityValueGet('emailType') === 'TEMPLATE'" [ngModel]="entityValueGet('templateInput')" [placeholder]="translateService.translate('PayLoad Input')" (ngModelChange)="entityValueChange($event, 'templateInput')">
          </s4-textbox>
        <!-- </span> -->
      </span>
      <!-- Sms params end-->
      <!-- Jhub Sms params start-->
      <span *ngIf="eParams && !!eParams.length && selectedAction === 'JHUB_SMS_MSG'" >
        <!-- <span *ngFor="let i of eParams"> -->
          <s4-lov [titles]="lovTitles" [options]="emailTemplateOptions" [ngModel]="entityValueGet('emailType')" [placeholder]="translateService.translate('oumcambpmn.bodytype')" (ngModelChange)="entityValueChange($event, 'emailType')">
          </s4-lov>
          <s4-textarea [disabled]="this.entityValueGet('emailType') === 'TEMPLATE' || this.entityValueGet('emailType') === 'TEMPLATE_ADVANCE'" minRows="5" [ngModel]="entityValueGet('body')" [placeholder]="translateService.translate('oumcambpmn.body')" (ngModelChange)="entityValueChange($event, 'body')">
          </s4-textarea>
          <span>{{translateService.translate('oumcambpmn.or')}}</span>
          <s4-lov [disabled]="this.entityValueGet('emailType') === 'MANUAL'" [titles]="lovTitles" link="eoffender/document/getEmailTemplates" [ngModel]="entityValueGet('emailTemplate')" [placeholder]="translateService.translate('oumcambpmn.emailtemplate')" (ngModelChange)="entityValueChange($event, 'emailTemplate')">
          </s4-lov>
          <s4-textbox  [disabled]="this.entityValueGet('emailType') === 'MANUAL' || this.entityValueGet('emailType') === 'TEMPLATE_ADVANCE'" [ngModel]="entityValueGet('emailOffenderBookId')" [placeholder]="translateService.translate('Offender Book Id')" (ngModelChange)="entityValueChange($event, 'emailOffenderBookId')">
          </s4-textbox>
          <s4-textbox  [disabled]="this.entityValueGet('emailType') === 'MANUAL' || this.entityValueGet('emailType') === 'TEMPLATE'" [ngModel]="entityValueGet('templateInput')" [placeholder]="translateService.translate('PayLoad Input')" (ngModelChange)="entityValueChange($event, 'templateInput')">
          </s4-textbox>
        <!-- </span> -->
      </span>
      <!-- Jhub Sms params end-->
      <!-- Quick Action params start -->
      <span *ngIf="quickActionParameters && !!quickActionParameters.length" >
        <!-- <s4-checkbox id="is_obj" [ngModel]="entityValueGet('isObj')" (ngModelChange)="entityValueChange($event, 'isObj')">
          {{translateService.translate('Is payload an Object?')}}
        </s4-checkbox> -->
        <span *ngIf="entityValueGet('isObj')" >
          <s4-textbox [ngModel]="entityValueGet('payloadObj')" placeholder="Payload Var" (ngModelChange)="entityValueChange($event, 'payloadObj')">
          </s4-textbox>
        </span>
        <span *ngIf="!entityValueGet('isObj')" >
          <span *ngFor="let i of quickActionParameters">
            <s4-textbox [ngModel]="entityValueGet(i.parameterCode)" [placeholder]="i.parameterDescription" (ngModelChange)="entityValueChange($event, i.parameterCode)">
            </s4-textbox>
          </span>
        </span>
      </span>
      <!-- Quick Action params end -->
      <s4-textbox *ngIf="(quickActionParameters && !!quickActionParameters.length) || showField('connectorId') || showDocTemplate || (eParams && !!eParams.length)" [ngModel]="entityValueGet('responseVar')" (ngModelChange)="entityValueChange($event, 'responseVar')" [placeholder]="translateService.translate('oumcambpmn.responsevariable')">
      </s4-textbox>
      <!-- service task params end-->
      <!-- BRT params Start-->
      <s4-lov link="dmnmain/getDmns" [titles]="dmns" *ngIf="showField('camunda:decisionRef')" [ngModel]="entityValueGet('camunda:decisionRef')" [placeholder]="translateService.translate('oumcambpmn.decisions')" (ngModelChange)="entityValueChange($event, 'camunda:decisionRef')">
      </s4-lov>
      <s4-textbox *ngIf="showField('camunda:resultVariable')" [ngModel]="entityValueGet('camunda:resultVariable')" [placeholder]="translateService.translate('oumcambpmn.resultvar')" (ngModelChange)="entityValueChange($event, 'camunda:resultVariable')">
      </s4-textbox>
      <s4-lov [options]="mapDecisionResultList" [titles]="resultType" *ngIf="showField('camunda:mapDecisionResult')" [ngModel]="entityValueGet('camunda:mapDecisionResult')" [placeholder]="translateService.translate('oumcambpmn.mapdecisionsres')" (ngModelChange)="entityValueChange($event, 'camunda:mapDecisionResult')">
      </s4-lov>
      <span *ngIf="(entityPropMap.get('dmnOutNames') && entityPropMap.get('dmnOutNames').length) && (entityValueGet('camunda:mapDecisionResult')=='singleResult')">
        <strong>Output Variables</strong><br>
        <span *ngFor="let outVar of entityPropMap.get('dmnOutNames')">
          <span>
            {{outVar}} <br>
          </span>
        </span>
      </span>
      <!-- BRT params end-->
      <!-- CA params Start-->
      <!-- <s4-textbox *ngIf="showField('calledElement')" [ngModel]="entityValueGet('calledElement')" [placeholder]="translateService.translate('oumcambpmn.calledelement')" (ngModelChange)="entityValueChange($event, 'calledElement')">
      </s4-textbox> -->
      <s4-lov link="prosmain/commonProcess" [titles]="commonProcess" *ngIf="showField('calledElement')" [ngModel]="entityValueGet('calledElement')" [placeholder]="translateService.translate('oumcambpmn.calledelement')" (ngModelChange)="entityValueChange($event, 'calledElement')">
      </s4-lov>
      <!-- CA params end-->
      <!-- Loops start-->
      <s4-textbox *ngIf="dynamicShowMap.get('camunda:collection')" [ngModel]="entityValueGet('camunda:collection')" [placeholder]="translateService.translate('oumcambpmn.collection')" (ngModelChange)="entityValueChange($event, 'camunda:collection')">
      </s4-textbox>
      <s4-textbox *ngIf="dynamicShowMap.get('camunda:elementVariable')" [ngModel]="entityValueGet('camunda:elementVariable')" [placeholder]="translateService.translate('oumcambpmn.elementVariable')" (ngModelChange)="entityValueChange($event, 'camunda:elementVariable')">
      </s4-textbox>
      <!-- Loops end-->
      <!-- Listners start-->
      <div [hidden] = "hideListeners">
      <s4-textarea  *ngIf="showField('name')" minRows="5" [ngModel]="entityValueGet('lisScript')" [placeholder]="translateService.translate('Listner Script')" (ngModelChange)="entityValueChange($event, 'lisScript')">
      </s4-textarea>
    </div>
      <!-- Listners end-->
    </div>
  </div>
</ejs-sidebar>
<div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px" class="diagram-btn-block">
  <div fxFlex [hidden] = "hideSave">
    <div fxLayout="row " class="btn-mt9" fxLayoutAlign="start start" fxLayoutGap="7px">
      <div >
        <s4-button type="primary" (onClick)="saveBpmn()" [hidden]="hideOnXml">{{translateService.translate('oumcambpmn.save')}}</s4-button>
      </div>
      <div >
        <s4-button type="primary" (onClick)="saveBpmn(true)" [disabled]="disableDeployBtn" [hidden]="hideOnXml">{{translateService.translate('oumcambpmn.deploy')}}</s4-button>
      </div>
      <s4-button type="secondary" (onClick)="onExitBtnClick()" [hidden]="hideOnXml">{{translateService.translate('oumcambpmn.cancel')}}</s4-button>
    </div>
  </div>
  <div [hidden] = "hideClear">
    <s4-button type="secondary" (onClick)="onExitBtnClick()" [hidden]="hideOnXml">{{translateService.translate('oumcambpmn.cancel')}}</s4-button>
  </div>
  <div fxFlex>
    <div fxLayout="row " fxLayoutAlign="end start" fxLayoutGap="7px">
        <s4-checkbox id="xml_flag" [(ngModel)]="xmlFlag" (ngModelChange)="checkXml()">
          {{translateService.translate('oumcambpmn.developermode')}}
        </s4-checkbox>
      <div class="icon-align">
        <button type="button" mat-icon-button (click)="zoomIn()" [matTooltip]="translateService.translate('oumcambpmn.zoomin')">
          <mat-icon>add</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button type="button" mat-icon-button (click)="zoomOut()" [matTooltip]="translateService.translate('oumcambpmn.zoomout')">
          <mat-icon>remove</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button type="button" mat-icon-button (click)="resetZoom()" [matTooltip]="translateService.translate('oumcambpmn.resetzoom')">
          <mat-icon>restore</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>