<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('insights.dashboardTitle')" screenId="INSIGHTS"
[flowArrowOption]="false">
    <s4-panel [cardType]="true">
        <div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
                <div fxLayout="row" fxLayoutAlign="space-between center">
					<div fxFlex>
                        <div class="s4-panel-title">
                            {{translateService.translate('insights.dashboardTitle')}}
                        </div>
                    </div>
                    <div fxFlex="initial" *ngIf="isCreateAccess">
                        <s4-button id="add-dashboard" name="NewDashboard" (onClick)="newDashboard()">
							{{translateService.translate('insights.createDashboard')}}
						</s4-button>
                    </div>
                </div>
            </div>
            <div fxFlex="1 0 auto">
                <s4-grid id="insight-grid" #insightGrid [columnDefs]="insightGridDef" [rowData]="insightGridList"
        enableInsert=false enableUpdate=false enableDelete=false [selected]="selectedRow"></s4-grid>
            </div>
        </div>
    </s4-panel>
</s4-pane>