<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oiiosced.offenderscheduleenquiry')" [screenId]="translateService.translate('oiiosced.oiiosced')"
 showInmateHeader=true (selectedOffenderChange)="onOffenderChange($event)">
	<s4-panel [cardType]="true" [title]="translateService.translate('oiiosced.scheduleinquiry')">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="1 0 80px">
				<s4-lov id="selsch_filter" [required]="true" [disabled]="disabledSchFilter" link="oiiosced/rgSchFilterRecordGroup" [titles]="schFilterLovTitles" [placeholder]="translateService.translate('oiiosced.schedulefilter')"
				 [(ngModel)]="cntrlblkModel.eventClass" (ngModelChange)="onClickFilter($event)" [readonly]="readOnlyForAll">
				</s4-lov>
			</div>
			<div fxFlex="0 0 125px">
				<s4-datepicker #fromDate id="dateFROM_DATE" [placeholder]="translateService.translate('common.fromdate')" [disabled]="disabled" [required]="true"
				 [(ngModel)]=cntrlblkModel.fromDate [readonly]="readOnlyForAll">
				</s4-datepicker>
			</div>
			<div fxFlex="0 0 125px">
				<s4-datepicker #toDate id="dateTO_DATE" [placeholder]="translateService.translate('common.todate')" [disabled]="disabled" [required]="true"
				 [(ngModel)]=cntrlblkModel.toDate [readonly]="readOnlyForAll">
				</s4-datepicker>
			</div>
			<div fxFlex="1 0 75px">
				<s4-time id="textstart_time" [(ngModel)]="cntrlblkModel.startTime" [disabled]="disabled" [placeholder]="translateService.translate('oiiosced.starttime')"
				 maxlength="10" [readonly]="readOnlyForAll">
				</s4-time>
			</div>
			<div fxFlex="0 0 75px">
				<s4-time id="textend_time" [(ngModel)]="cntrlblkModel.endTime" [disabled]="disabled" [placeholder]="translateService.translate('oiiosced.endtime')"
				 maxlength="10" [readonly]="readOnlyForAll">
				</s4-time>
			</div>
			<!-- <div fxFlex="1 0 80px">
				<s4-lov id="selsch_type" [disabled]="disabledSchType" [link]="schTypeLink" optionWidth="300" [placeholder]="this.translateService.translate('common.scheduletype')"
				 (change)="typeClick($event)" [(ngModel)]="cntrlblkModel.eventType" #lov1 (click)="checkVal(lov1)" (ngModelChange)="onClickSchType($event)">
				</s4-lov>
			</div>
			<div fxFlex="1 0 80px">
				<s4-lov id="selsch_reason" [disabled]="disabledSchReason" (change)="reasonClick($event)" [placeholder]="this.translateService.translate('oiuscinq.schedulereason')"
				 [(ngModel)]="cntrlblkModel.eventSubType" [link]="schReasonLink" optionWidth="300" #res (click)="checkVal(res)">
				</s4-lov>
			</div> -->
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary"id="but_select" name="BUT_SEARCH" [disabled]="saveBtnDisable" (onClick)="onButSearchclick(fromDate,toDate)"> {{translateService.translate('common.search')}}
			</s4-button>
			<s4-button id="clear_select" name="CLEAR_SEARCH" [disabled]="clearDisabled" (onClick)="onButClearclick()"> {{translateService.translate('common.clear')}}
			</s4-button>
		</div>
		<div class="divider my-1">
			<mat-divider></mat-divider>
		</div>
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<div class="s4-panel-title">
					{{translateService.translate('oiiosced.offenderschedules')}}
				</div>
			</div>
			<div fxFlex="1 0 auto">
				<s4-grid id="voffenderallschedulestab" [rowData]="voffenderallschedulesData" [columnDefs]="vOffenderAllSchedulesColumnDef">
				</s4-grid>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<span *ngIf="exitLaunchBtn">
				<s4-launchbutton id="but_exit" [onLaunchClick]="onExitBtnClick"> {{translateService.translate('common.back')}} </s4-launchbutton>
			</span>
		</div>
	</s4-panel>
</s4-pane>