<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('otdsubat.screenname')" screenId="OTDSUBAT">
	<s4-panel [cardType]="true">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="2 0 150px">
				<s4-lov id="selsub_account_type" required="true" [link]="fromSubAccountTypeLink" source = "OCMTROPS"
					[placeholder]="translateService.translate('otdsubat.fromsubaccount')"
					[titles]="fromSubAccountTitles" [(ngModel)]="offtxnModel.fmSubAccountType"
					(optionChange)="changeTheValueOfFromSubAccount($event)" (blur)="fromsubaccountBlur()">
				</s4-lov>
				<!-- [link]="fromSubAccountTypeLink"  -->
			</div>
			<div fxFlex="2 0 150px">
				<s4-lov id="selsub_account_type" required="true"
					[placeholder]="translateService.translate('otdsubat.tosubaccount')" [link]="toSubAccountLink" source = "OCMTROPS"
					[titles]="toSubAccountTitles"  [(ngModel)]="offtxnModel.toSubAccountType" (blur)="tosubaccountBlur()">
				</s4-lov>
			</div>
			<div fxFlex="2 0 150px">
				<s4-textbox id="texttxn_entry_amount" [placeholder]="translateService.translate('otdsubat.controltotal')" maxlength="9"
					required="true" [(ngModel)]="txnAmount"  #num (blur)="valueChangeEvent(num)" 
					 (keydown)="onControlTotalKeyDown($event)" [rightAlign]="true">
				</s4-textbox>
			</div>
		</div>
		<div class="divider my-1">
			<mat-divider></mat-divider>
		</div>
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<div class="s4-panel-title">
					{{translateService.translate('common.offendertransactions')}}
				</div>
			</div>
			<div fxFlex="1 0 auto">
				<s4-grid #grid id="offtxn1tab" [rowData]="offtxn1Data" [columnDefs]="offTxn1ColumnDef" [enableInsert]="true"
					[enableUpdate]="true" [onInsert]="onGridInsert" [validateRow]="offTxnValidate" (onCommit)="otdsubatSaveofftxn2Form($event)"
					[onClear]="onGridClear" [selected]="selected" (rowClicked)="onRowClickofftxn($event)">
				</s4-grid>
		</div>
		</div>
	</s4-panel>
</s4-pane>