<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-dialog [title]="translateService.translate('otusubad.subaccountdetails')" #dialog screenId="OTUSUBAD">
	<s4-dialog-content>
		<s4-panel [cardType]="true" [title]="translateService.translate('')">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="0 2 200px">
					<s4-textbox id="textdsp_account_code" [placeholder]="translateService.translate('system-profile.off-id-code')"
						[(ngModel)]="offenderIdDisplay" readonly=true></s4-textbox>
				</div>
				<div fxFlex="0 2 200px">
					<s4-textbox id="textdsp_account_name" [placeholder]="translateService.translate('system-profile.name-last')" [(ngModel)]="lastName" readonly=true>
					</s4-textbox>
				</div>
				<div fxFlex="0 2 200px">
					<s4-textbox id="textdsp_account_name" [placeholder]="translateService.translate('system-profile.name-given-1')" [(ngModel)]="firstName" readonly=true>
					</s4-textbox>
				</div>
			</div>
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="1 0 400px">
					<s4-grid id="offsastab" [rowData]="offsasData" [columnDefs]="offSasColumnDef"
						(rowClicked)="onRowClickoffsas($event)" [selected]="selected">
					</s4-grid>
				</div>
			</div>
		</s4-panel>
	</s4-dialog-content>
	<s4-dialog-actions>
		<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px">
			<div fxFlex="100%">
				<s4-button id="but_exit" name="BUT_EXIT" (onClick)="cancel()">
					{{translateService.translate('common.exit')}}</s4-button>
			</div>
		</div>
	</s4-dialog-actions>
</s4-dialog>