@use '@angular/material' as mat;
@mixin header-block($theme, $typography) {
    $ui-components-theme: map-get($theme, ui-components);
    .offender-header-block {
        background-color: mat.get-color-from-palette($ui-components-theme, header-block-background);
        padding: 0;
        border-bottom: 5px solid mat.get-color-from-palette($ui-components-theme, header-block-border-bottom);
        .offender-header-block-top {
            border-bottom: 1px solid mat.get-color-from-palette($ui-components-theme, header-block-border-top);
        }
    }
    .offender-header-block-fields {
        margin: 0;
        .s4-label {
            display: block;
            color: mat.get-color-from-palette($ui-components-theme, header-block-label-color);
            margin-bottom: 0px;
            user-select: none;
        }
    }
    .margin {
        margin: 0px 15px 10px 0px !important;
    }
    .clickable {
        cursor: pointer;
        color: mat.get-color-from-palette($ui-components-theme, header-block-alert-color);
        margin: 0 0 0 8px;
    }
    .image-container {
        width: 85px;
        max-width: 85px;
        height: 95px;
        border: 1px solid mat.get-color-from-palette($ui-components-theme, header-block-image-border);
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin: 0 0 0 20px;
        background: mat.get-color-from-palette($ui-components-theme, header-block-image-background);
        .image-component {
            max-height: 100%;
        }
    }
    .offender-header-block .mat-input-element {
        background: transparent;
        border: 2px solid #fff !important;
        box-shadow: none;
        color: mat.get-color-from-palette($ui-components-theme, header-block-input-color);
        padding-left: 0;
        font-size: 16px !important;
        display: inline;
        @include mat.typography-level($typography, header-input);
    }
    .offender-header-block .alertValue {
        display: flex;
        .mat-input-element {
            border: none !important;
            border-radius: 0px !important;
            height: 24px;
            line-height: 24px;
            background: white;
            transition: border-color 0.3s;
            box-sizing: border-box;
            padding: 0px;
            display: inline-block;
            color: mat.get-color-from-palette($ui-components-theme, header-block-alert-color);
        }
    }
    .text-box-fields {
        .mat-form-field-infix {
            .label {
                margin-bottom: 0;
            }
        }
        .mat-checkbox-layout {
            margin-bottom: 20px;
        }
    }
    .offender-header-block-fields {
        .offender-header-block-bottom,
        .offender-header-block-top,
        .offender-header-block-mid {
            margin: 6px 0 0 0;
            .text-box-fields {
                .header-block-values {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: normal;
                    width: auto;
                    display: block;
                    min-height: 30px;
                    line-height: 24px;
                    border: none !important;
                    margin: 0 0 5px 0;
                    user-select: none;
                }
            }
        }
    }
    .clickDisable{
        pointer-events: none;
    }
    .clickEnable{
        pointer-events: auto;
    }
}
