	<!-- 	<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-dialog [title]="translateService.translate('Force and Equipment')" screenId="OCUINCFE" #dialog>
	<s4-dialog-content>
		
	</s4-dialog-content>
	<s4-dialog-actions>
	<div fxLayoutgap="15px">
				<s4-button (onClick)="retrieve()" type="primary">{{translateService.translate('Save')}}</s4-button>
			<s4-button [style.margin-top]="'2px'" (onClick)="clear()" >{{translateService.translate('Exit')}}</s4-button>
			</div>
	</s4-dialog-actions>
		
</s4-dialog> -->

 
