<s4-message [(msgs)]="msgs"> </s4-message>
<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('ocuoicch.offenceincustodycharges')" screenId="OCUOICCH" #dialog> 
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-panel [cardType]="true" [title]="translateService.translate('common.charges')">
			<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="100%">
				    <s4-grid #grid
					   id="agyincichgtab" 
					   [rowData]="agyincichgData"
					   [columnDefs]="chargesColumnDefs"
					   (rowClicked)="onRowClickagyincichg($event)" 
					   enableInsert=true
					   enableUpdate=true 
					   [enableDelete]="chargesGridDelete"
					  (onCommit)="ocuoicchSaveagyincichgForm($event)"
					  [onInsert]="onGridInsert"
					  [onDelete]="onGridDelete"
					  [validateRow]="chargesEvent"
					  [selected]="chargesGridIndex"> 
					</s4-grid> 
				</div>
			</div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions" id="ocuoicch_dlgactn">
		<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button (click)="ocuoicchClose($event)">{{translateService.translate('common.exit')}}</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>
