<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message> 
<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('ocuoicin.offenseInCustodyInvestigation')"  screenId="OCUOICIN" #dialog> 
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-panel [cardType]="true" [title]="translateService.translate('common.investigation')">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="15px">
				<div fxFlex>
					 <s4-grid
					   [rowData]="oicinvestData"
					   gridHeight="200px"
					   [columnDefs]="investigetionColumnDefs"
					   enableInsert=true
					   enableUpdate=true
					   (onCommit)="ocuoicinSaveoicinvestForm($event)"
					   enableDelete=true
					   (rowClicked)="onRowClickoicinvest($event)"
					   [onInsert]="onGridInsertCol"
					   [onDelete]="onGridDeleteInv"
					   [selected]="oicinvestGridIndex">
					</s4-grid>
				</div>
			</div>
		</s4-panel>
		<s4-panel [cardType]="true"[title]="translateService.translate('common.evidence')">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex>
					<s4-grid
						[rowData]="oicinveststaData"
						gridHeight="230px"
						[columnDefs]="evidenceColumnDefs"  
						[enableInsert]="isEvidenceInsert"
						enableUpdate=true
						enableDelete=true
						[onInsert]="onGridInsertEvidence"
						(onCommit)="ocuoicinSaveoicinveststaForm($event)"
						(rowClicked)="onRowClickoicinveststa($event)"
						[selected]="oicinveststaGridIndex">
					</s4-grid>
				</div>
				<div fxFlex="0 0 90px" fxFlexAlign="start">
					<s4-button  id="camera_pc"
								name="CAMERA_PC"
							   (onClick)="onCameraPcclick()" [disabled]="cameraButton">
						<s4-icon>add_a_photo</s4-icon>
					</s4-button>
				</div>
			</div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions" id="ocuin_dlgactn">
		<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button (click)="ocuoicinClose()">{{translateService.translate('common.exit')}}</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>
