<s4-message [(msgs)]="msgs" id="dlgvalidmsg"> </s4-message>
<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('oidoicap.offenderoicappealpenalties')" screenId="OIUAPPEN"
	#dialog>
	<s4-dialog-card-content class="s4-dialog-card-content">
		<s4-panel [cardType]="true">
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="100%">
					<s4-grid #Penaltiespopup [rowData]="penaltiesppopupData" [columnDefs]="penaltiesPopUpColumnDefs"
						(rowClicked)="onRowClickPenaltiesPopUp($event)" [selected]="tableIndex">
					</s4-grid>
				</div>
			</div>
		</s4-panel>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px">
			<s4-button (onClick)="onSelect()" [disabled]="selectDisable">
				{{translateService.translate('oidoicap.select')}}</s4-button>
			<s4-button (onClick)="cancel()" [disabled]="cancelDisable">
				{{translateService.translate('oidoicap.cancel')}}</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>