<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('ocdatpow.titles')" screenId="OCDATPOW">
	<s4-panel [cardType]="true" [readonly]=true [title]="translateService.translate('ocdatpow.title')">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="20">
				<s4-lov id="dspdescription" [(ngModel)]="modeldspDescription" (blur)="onLocationBlur()" 
					[placeholder]="translateService.translate('ocdatpow.location')"
					[readonly]="descriptionReadonly" (optionChange)="modelChange($event)"
					[titles]="teamMembersTitles" [link]="descriptionlink" [required]="true" source="OUMAGLOC">
				</s4-lov>
			</div>
			<div fxFlex>
				<s4-textbox id="caseNote_sub_type" [(ngModel)]="stafflrModeldspLastName" [readonly]=true 
					[required]="true" [placeholder]="translateService.translate('ocdatpow.lastnamestaff')"
					maxlength="40">
				</s4-textbox>
			</div>
			<div fxFlex="initial">
				<s4-launchbutton id="launch_Button" modal=true [onLaunchClick]="getOfficers"
					width="80%" [disabled]="disableOcuaoffi">
					{{translateService.translate('SELECT')}}</s4-launchbutton> 
			</div>
			<div fxFlex="12">
				<s4-textbox id="textdspfirstname" [(ngModel)]="stafflrModeldspFirstName" [readonly]=true
					[placeholder]="translateService.translate('ocdatpow.firstname')" maxlength="35" uppercase>
				</s4-textbox>
			</div>
			<div fxFlex="12">
				<s4-textbox id="textposition" [(ngModel)]="stafflrModelposition" [readonly]=true
					[placeholder]="translateService.translate('ocdatpow.position')" maxlength="12">
				</s4-textbox>
			</div>
			<div fxFlex="12">
				<s4-textbox id="textrole" [(ngModel)]="stafflrModelrole" [readonly]=true
					[placeholder]="translateService.translate('ocdatpow.role')" maxlength="12">
				</s4-textbox>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary" modal="true" width="80%" (onClick)="searchLaunchButtonClick()"
				[disabled]="disableGoBut">
				{{translateService.translate('common.retrieve')}}
			</s4-button>
			<s4-button modal="true" width="80%" (onClick)="clear()" [disabled]="clearDisableFun()">
				{{translateService.translate('common.clear')}}
			</s4-button>
		</div>
	</s4-panel>
	<s4-panel [cardType]="true" [title]="translateService.translate('ocdatpow.assigned')">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex>
				<s4-grid #offbkgGrid id="offbkg" [rowData]="offbkgData" [columnDefs]="offBkg1ColumnDef"
					(rowClicked)="onRowClickoffbkg1($event)" [selected]="tabIndex"  externalSave=true
					[validateRow]="validateRowDataTwo">
				</s4-grid>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="0 0 auto">
				<s4-checkbox id="checkchk_offbkg1_all6" [(ngModel)]="chkOffbkg1All" [disabled]="offTxnReadOnly"
					(change)="extOtChkboxChange($event)">
					{{translateService.translate('ocdatpow.assigntoonemem')}}
				</s4-checkbox>
			</div>
		</div>
	</s4-panel>
	<s4-panel [cardType]="true" [title]="translateService.translate('ocdatpow.assiciated')">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px">
			<div fxFlex>
				<s4-grid #voffdetGrid id="voffdettab" [rowData]="voffdetData" [columnDefs]="vOffDetColumnDef"
					(rowClicked)="onRowClickvoffdet($event)" externalSave=true [validateRow]="validateRowData"
					enableUpdate=true [selected]="tabIndex1">
				</s4-grid>
				<!-- <s4-button id="but_save" (onClick)="onSave()" [disabled]="disableSavebutton">
					{{translateService.translate('common.savebtn')}}
				</s4-button> -->
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px">
			<s4-button id="but_save" (onClick)="onSave()" [disabled]="disableSavebutton">
				{{translateService.translate('common.savebtn')}}
			</s4-button>
		</div>
	</s4-panel>
</s4-pane>
