<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('ocdenfor.title')" screenId="OCDENFOR"
	showInmateHeader=true (selectedOffenderChange)="onOffenderChange($event)" [isSingleSave]="true"
	(onSingleCommit)="onSave()" [isSingleSaveBtnDisable]="isSingleSaveBtnDisable"
	[singleSaveBtnText]="translateService.translate('ocdenfor.save')">
	<s4-panel [cardType]="true" [title]="translateService.translate('ocdenfor.courtorders')">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="100%">
				<s4-dynamic-grid [(rowData)]="myJsonRowDataOriginal" [columnDefs]="myColDefs"
					[selected]="selectedRow" (rowClicked)="onRowClickCrtAct($event)"></s4-dynamic-grid>
			</div>
		</div>
	</s4-panel>
	<s4-panel [cardType]="true" [title]="translateService.translate('ocdenfor.courtactions')">
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid #actionsGrid *ngIf="resetGrid" id="actions"  [rowData]="actionsData" [columnDefs]="actionsColumnDef" [validateRow]="validateRowDataAct" 
					(rowClicked)="onactionsRowClick($event)" [selected]="actionsIndex" [onInsert]="onGridInsert" [enableInsert]="actionsInsert"
					enableUpdate=true (onCommit)="actionsCommit($event)" [onClear]="onActionsClear" externalSave = "true" (updatedMapsData)="onUpdatedMapsData($event)"> 
				</s4-grid>
			</div>
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
				<div fxFlex="2 0 500px">
					<s4-textarea [placeholder]="translateService.translate('ocdenfor.comment')"
						maxlength="1500" [(ngModel)]="actionCommentText"
						(ngModelChange)="isCommentChanged($event)" [readonly]="commentReadOnly">
					</s4-textarea>
				</div>
			</div>
		</div>
	</s4-panel>



	<s4-panel [cardType]="true" [title]="translateService.translate('ocdenfor.selectcondition')">
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid #conditGrid [columnDefs]="conditionColdef" [rowData]="conditionRowData" (rowClicked)="onRowClickedCondition($event)"
				[selected]="selectedRowofConditionGrid" [onClear]="onConditionsClear" enableUpdate=true [validateRow]="validateRowDataCond" externalSave="true">
			</s4-grid>
			</div>
		</div>
	</s4-panel>

	<!-- <div fxFlex="1 0 auto">
		<s4-grid id="hideConditionGrid" [columnDefs]="conditionColdef" [rowData]="conditionRowData" (rowClicked)="onRowClickedCondition($event)"
		[selected]="selectedRowofConditionGrid" enableQuickFilter=true></s4-grid>
	</div> -->

	<div class="divider my-1">
		<mat-divider></mat-divider>
	</div>
	<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
		<s4-button id="but_court_event" name="BTN_COURT_EVENT" (onClick)="courtEvRedirect()">
			{{translateService.translate('ocdenfor.courtEvents')}}</s4-button>
		<s4-button id="bt_non_cust_order" name="BTN_NON_CUST_ORDER" (onClick)="nonCustRedirect()">
			{{translateService.translate('ocdenfor.nonCustodialOrder')}}</s4-button>
		<s4-button id="btn_cust_order" name="BTN_CUST_ORDER" (onClick)="custOrderRedirect()">
			{{translateService.translate('ocdenfor.custodialOrder')}}</s4-button>
		<s4-button id="btn_cust_order" name="BTN_CUST_ORDER" (onClick)="paroleOrderRedirect()">
			{{translateService.translate('ocdparor.paroleorders')}}</s4-button>
	</div>
</s4-pane>
