@use '@angular/material' as mat;
@mixin dialog-card-theme($theme) {
    $ui-components-theme: map-get($theme, ui-components);
    $s4-header-border-bottom-width: map-get($ui-components-theme, s4-header-border-bottom-width);
    .close-popup {
        height: 30px;
        width: 30px;
        background-image: url("/assets/images/sprite.png");
        background-position: -37px -321px;
        background-repeat: no-repeat;
        position: relative;
        top: 4px;
        right: 3px;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: mat.get-color-from-palette($ui-components-theme, primary-background-color);
    }
    .mat-toolbar.dialog-toolbar {
        margin: -24px -24px 0px -24px;
        border-radius: 4px 4px 0 0;
        width: inherit;
        background-color: mat.get-color-from-palette($ui-components-theme, dialog-title-background);
        padding: 0 24px;
        border-bottom: $s4-header-border-bottom-width solid
            map-get($ui-components-theme, primary-background-border-color);
        color: mat.get-color-from-palette($ui-components-theme, dialog-title-color);
        line-height: 16px;
    }
    .mat-toolbar.dialog-toolbar .eaqualize-box{
        margin: 0 20px;
    }
    .mat-toolbar.dialog-toolbar .eaqualize-box mat-icon{
        cursor: pointer;
    }
    s4-dialog-card.s4-dialog-card {
        display: block;
        margin: 0px 0px 0 0;
        width: inherit;
        background: #f2f2f2;
        padding: 0 0px 0 0px;
        s4-dialog-card-content.s4-dialog-card-content {
            .mat-dialog-content {
                display: block;
                margin: 0 -24px;
                padding: 0 24px;
                max-height: 75vh;
                overflow: auto;
                -webkit-overflow-scrolling: touch;
                background-color: #f2f2f2;
            }
        }
        s4-dialog-card-actions.s4-dialog-card-actions {
            margin: 0 -24px;
            display: block;
            padding: 0 24px;
            border-top: 1px solid #e2e2e2;
            border-radius: 0 0 4px 4px;
            background-color: #fff;
            .mat-dialog-actions {
                padding: 10px 0;
                padding-left: 0px;
            }
        }
    }
    s4-tooltip.dialog-card-tooltip {
        margin-bottom: 0px;
        .mat-title {
            margin-bottom: 0px;
            line-height: 30px;
        }
    }
}
