	<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
	<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('ocusmodu.selectmoduleforallocation')" screenId="OCUSMODU" #dialog>
		<s4-dialog-card-content class="s4-dialog-card-content" id="osunmemo_dlgactn">
		   <s4-panel [cardType]="true" [title]="">
			 <div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px">
				<div fxFlex="50">
					<s4-textbox class="bold-label" id="textnbt_description" [(ngModel)]="nbtDescription" [readonly]=true
						[placeholder]="translateService.translate('ocusmodu.phase')" maxlength="40">
					</s4-textbox>
				</div>
			</div>
			<div fxLayout="column" fxLayoutAlign="space-between none">
				<div fxFlex="1 0 auto">
					<s4-grid #grid id="vacpschtab" [rowData]="vacpschData" [columnDefs]="vAcpSchColumnDef"
					(rowClicked)="onRowClick($event)" externalSave=true [selected]="vacpschIndex" [validateRow]="validateRowData"></s4-grid>
				 </div>
			  </div>
		   </s4-panel>
		</s4-dialog-card-content>
		<s4-dialog-card-actions class="s4-dialog-card-actions">
		   <div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			  <s4-button type="primary" id="but_save" [disabled]= "selectDis" (onClick)="onButSelect()" >
				 {{translateService.translate('common.select')}}
			  </s4-button>
			  <s4-button id="but_exit" name="BUT_EXIT" (click)="onButExitclick()">
				 {{translateService.translate('common.back')}}
			  </s4-button>
		   </div>
		</s4-dialog-card-actions>
	 </s4-dialog-card>
