<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="trMsg('otmtfpro.title')" [screenId]="trMsg('otmtfpro.code')">
	<s4-panel [cardType]="true">
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid id="seldeduction" #firstGrid [rowData]="seldeductionData" [columnDefs]="seldeductionColumnDef" (rowClicked)="onRowClickseldeduction($event)"
				  (onCommit)="otmtfproSavecslddpForm($event)" enableInsert=true enableUpdate=true [enableDelete]="isDeleteEnable"
				  [onInsert]="onGridReady" [selected]="seldeductionIndex" [onClear]="onGridClear" [validateRow]="validateRowDataFirstGrid"
				  [onDelete]="onGridDelete">
				</s4-grid>
			</div>
		</div>
	</s4-panel>
	
	<s4-panel [cardType]="true">
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid id="csldddtab" #grid [rowData]="csldddData" [columnDefs]="csldDdColumnDef" (rowClicked)="onRowClickcslddd($event)"
				 [enableInsert]="csldDdInsert" enableUpdate=true enableDelete=true (onCommit)="otmtfproSavecsldddForm($event)" [validateRow]="entryValidate" [onInsert]="onGridInsert">
				</s4-grid>
			</div>
		</div>
	</s4-panel>
</s4-pane>