<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<div class="s4-pane-outer">
	<s4-pane [title]="translateService.translate('osiosear.globalname')" screenId="OSIOSEAR">
		<div class="s4-panel-main">
			<s4-panel [columnFlexType]="true" [title]=""> 
				<form #osiosearForm="ngForm" (keyup.enter)="islaunch ? getSoundexPartialData() : osiosearexecuteQuery(dob)">
					<div fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px" class="srchType">
						<div fxFlex>
							<div class="s4-panel-title srchType">
								{{this.translateService.translate('osiosear.offendersearch')}}
							</div>
						</div>
						<div fxFlex="28">
							<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
								<div fxFlex>
									<s4-lov domain="SEARCH_TYPE" name="searchType" [(ngModel)]="searchType"
										[required]="true" (optionChange)="onButSearchTypeclick()" descTitle="Search Type"
										codeTitle="Code" [placeholder]="translateService.translate('osiosear.search')"></s4-lov>
								</div>
							</div>
						</div>
					</div>
					<div class="divider my-1">
						<mat-divider></mat-divider>
					</div>		
					<div fxLayout="row wrap" fxLayoutAlign="space-between end" fxLayoutGap="10px">
						<div fxFlex>
							<div *ngIf="offNameToggle" >
								<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
									<div fxFlex="20">
										<s4-textbox id="textnbt_last_name" name="lastName"
											[placeholder]="translateService.translate('system-profile.name-last')"
											(keyup)="isValidLogin($event);" [(ngModel)]="searchresultsModel.pLastName" (keypress)="onlyAlphabetallowed($event)"
											[disabled]="isName" required="true" maxlength="35" (blur)="oninputFocus()" (paste)="onPaste($event)" [autocomplete]="'off'"  #lastName>
										</s4-textbox>
									</div>
									<div fxFlex="15">
										<s4-textbox id="textnbt_first_name" name="firstName"
											[placeholder]="translateService.translate('system-profile.name-given-1')" (keypress)="onlyAlphabetallowed($event)"
											[(ngModel)]="searchresultsModel.pFirstName" [disabled]="isName" 
											(keyup)="isValidLogin($event);" (paste)="onPaste($event)" [autocomplete]="'off'" maxlength="35" ></s4-textbox>
									</div>
									<div fxFlex="15">
										<s4-textbox id="textnbt_middle_name" name="middleName"
											[placeholder]="translateService.translate('system-profile.name-given-2')"
											[(ngModel)]="searchresultsModel.pMiddleName" [disabled]="isName" (keypress)="onlyAlphabetallowed($event)"
											(keyup)="isValidLogin($event);" (paste)="onPaste($event)" [autocomplete]="'off'" maxlength="35" ></s4-textbox>
									</div>
									<div fxFlex="15">
										<s4-textbox id="textnbtsecond_middle_name" name="secondMiddleName"
											[placeholder]="translateService.translate('osiosear.secondmiddlename')"
											[(ngModel)]="searchresultsModel.secondMiddleName" [disabled]="isName" (keypress)="onlyAlphabetallowed($event)"
											(keyup)="isValidLogin($event);" (paste)="onPaste($event)" [autocomplete]="'off'" maxlength="35"></s4-textbox>
									</div>
									<div fxFlex="12">
										<s4-lov domain="SEX" name="sex"
											[placeholder]="translateService.translate('osiosear.selectsex')"
											[(ngModel)]="searchresultsModel.pSexCode" [disabled]="isName"
											optionWidth="300"></s4-lov>
									</div>
									<div fxFlex="12">
										<s4-lov domain="GENDER" name="gender"
											[placeholder]="translateService.translate('osiosear.selectgender')"
											[(ngModel)]="searchresultsModel.pGenderCode" [disabled]="isName"
											optionWidth="300"></s4-lov>
									</div>
									<div fxFlex="12">
										<s4-datepicker id="dateBIRTH_DATE" name="dateofBirth"
											[placeholder]="translateService.translate('system-profile.birth-date')"
											[(ngModel)]="searchresultsModel.pBirthDate"
											(ngModelChange)="isValidBirthDate($event);" [disabled]="disabledByear" #dob>
										</s4-datepicker>
									</div>
									<div fxFlex="10">
										<s4-number id="numbirth_year" name="birthYear"
											[placeholder]="translateService.translate('osiosear.birth')"
											[(ngModel)]="searchresultsModel.pBirthYear" max="9999" whole="true"
											[disabled]="disabledBdate" (keyup)="onClickEvent($event)"></s4-number>
									</div>
									<div fxFlex="10">
										<s4-number id="numbirth_range" name="range"
											[placeholder]="translateService.translate('osiosear.range')"
											[(ngModel)]="searchresultsModel.pBirthRange" min="0" max="99" whole="true"
											[required]="searchresultsModel.pBirthYear" [disabled]="disabledBdate"
											(keyup)="onClickEvent($event)"></s4-number>
									</div>
									<!-- <div fxFlex="15" fxFlexAlign="center">
						<s4-button [isLink]="true" id="moreFilters" (click)="moreFilters()">
						<img [title]="translateService.translate('eoffender.createDocument')"
						src="assets/icons/eoff_icons/baseline_expand_more.png" />
						More Filters
						</s4-button>
						</div> -->
								</div>
								<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
									<div fxFlex="20">
										<s4-checkbox id="namevariationchk" name="nameVariation"
											[(ngModel)]="nameVariation" [disabled]="isPartial">
											{{translateService.translate('osiosear.namevariation')}}
										</s4-checkbox>
									</div>
									<div fxFlex="15">
										<s4-checkbox id="nameswitchchk" name="nameSwitch" [(ngModel)]="nameSwitch"
											[disabled]="isPartial">
											{{translateService.translate('osiosear.nameswitch')}}
										</s4-checkbox>
									</div>
								</div>
							</div>
							<div *ngIf="offIdToggle" fxLayout="row" fxLayoutAlign="space-between end"
								fxLayoutGap="10px">
								<div fxFlex>
									<s4-textbox id="offenderIDtxtbx" name="offenderId"
										[placeholder]="translateService.translate('osiosear.id')"
										(keyup)="isValidId($event);" [(ngModel)]="searchresultsModel.offenderIdDisplay"
										[disabled]="isIdentifiers" uppercase></s4-textbox>
								</div>
								<div fxFlex>
									<s4-textbox id="booking_id" name="bookingId"
										[placeholder]="translateService.translate('osiosear.bookid')"
										(keyup)="isValidBookingNo($event);" [(ngModel)]="searchresultsModel.pBookNo"
										maxlength="15" [disabled]="isIdentifiers" uppercase></s4-textbox>
								</div>
								<div fxFlex>
									<s4-lov domain="ID_TYPE" name="idType"
										[placeholder]="translateService.translate('osiosear.identifiertype')"
										[(ngModel)]="searchresultsModel.pIdentifierType" [disabled]="isIdentifiers"
										(optionChange)="setType()" optionWidth="400"></s4-lov>
								</div>
								<div fxFlex>
									<s4-textbox id="osiosearoffnmbr" name="number"
										[placeholder]="translateService.translate('common.number')"
										[(ngModel)]="searchresultsModel.pIdentifierValue" (keyup)="isValid($event);"
										maxlength="12" [disabled]="isIdentifiers"
										[required]="searchresultsModel.pIdentifierType" min="0" uppercase>
									</s4-textbox>
								</div>
							</div>
							<div *ngIf="offDobToggle" fxLayout="row wrap" fxLayoutAlign="start end"
								fxLayoutGap="10px">						
								
								<div fxFlex="32">
									<s4-datepicker id="dateBIRTH_DATE" name="dateofBirth"
										[placeholder]="translateService.translate('system-profile.birth-date')"
										[(ngModel)]="searchresultsModel.pBirthDate"
										(ngModelChange)="isValidBirthDate($event);" [disabled]="disabledByear" #dob>
									</s4-datepicker>
								</div>
								<div fxFlex="30">
									<s4-number id="numbirth_year" name="birthYear"
										[placeholder]="translateService.translate('osiosear.birth')"
										[(ngModel)]="searchresultsModel.pBirthYear" max="9999" whole="true"
										[disabled]="disabledBdate" (keyup)="onClickEvent($event)"></s4-number>
								</div>
								<div fxFlex="30">
									<s4-number id="numbirth_range" name="range"
										[placeholder]="translateService.translate('osiosear.range')"
										[(ngModel)]="searchresultsModel.pBirthRange" min="0" max="99" whole="true"
										 [disabled]="disabledBdate" [required]="false"
										(keyup)="onClickEvent($event)"></s4-number>		</div> 					
								
								
								
									</div>
						</div>
					</div>
					<!-- <div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
							<div fxFlex="15"></div>
							<div fxFlex="84" [hidden]="!offNameToggle">
								<div fxLayout="row" fxLayoutAlign="space-between end" fxLayoutGap="10px">
									<div fxFlex>
										<s4-number id="numbirth_year" name="birthYear"
											[placeholder]="translateService.translate('osiosear.birth')"
											[(ngModel)]="searchresultsModel.pBirthYear" max="9999" whole="true"
											[disabled]="disabledBdate" (keyup)="onClickEvent($event)"></s4-number>
									</div>
									<div fxFlex>
										<s4-number id="numbirth_range" name="range"
											[placeholder]="translateService.translate('osiosear.range')"
											[(ngModel)]="searchresultsModel.pBirthRange" min="0" max="99" whole="true"
											[required]="searchresultsModel.pBirthYear" [disabled]="disabledBdate"
											(keyup)="onClickEvent($event)"></s4-number>
									</div>
									<div fxFlex fxFlexAlign="end">
										<s4-checkbox id="namevariationchk" name="nameVariation"
											[(ngModel)]="nameVariation" [disabled]="isPartial">
											{{translateService.translate('osiosear.namevariation')}}
										</s4-checkbox>
									</div>
									<div fxFlex fxFlexAlign="end">
										<s4-checkbox id="nameswitchchk" name="nameSwitch" [(ngModel)]="nameSwitch"
											[disabled]="isPartial">
											{{translateService.translate('osiosear.nameswitch')}}
										</s4-checkbox>
									</div>
									<div fxFlex></div>
								</div>
							</div>
						</div> -->
					<div fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="10px">
						<div fxFlex="30" class="group-btns">
							<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px">
								<span [hidden]="!islaunch">
									<s4-launchbutton id="lretrbtn" name="launch" colorType="primary"
										[disabled]="osiosearForm.invalid" modal="true"
										[onLaunchClick]="getSoundexPartialData">
										{{translateService.translate('osiosear.btnretrieve')}}</s4-launchbutton>
								</span>
								<span [hidden]="islaunch">
									<s4-button id="retrbtn" name="retrieve" type="primary"
										[disabled]="osiosearForm.invalid" (onClick)="osiosearexecuteQuery(dob)">
										{{translateService.translate('osiosear.btnretrieve')}} </s4-button>
								</span>
								<s4-button id="clrbtn" (onClick)="cancel()">
									{{translateService.translate('osiosear.btnclear')}}
								</s4-button>
							</div>
						</div>
						<div fxFlex fxFlexAlign="end" class="offCreateBtn">
							<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="7px">
								<s4-launchbutton id="coffibtn" link="/OCUCOFFE" [disabled]="isocucoffe"
									[onLaunchClick]="createNewRecord">
									{{translateService.translate('osiosear.createnewrecord')}}</s4-launchbutton>
							</div>
						</div>
					</div>
				</form>
			</s4-panel>
			<div *ngIf="searchresultsData.length > 0">
				<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="10px">
					<div fxFlex="1 0 auto" class="s4-panel">
						<s4-panel [columnFlexType]="true" id="ofndrgdr"
							[title]="translateService.translate('osiosear.result1')">
							<s4-grid #grid gridWidth="100%" [rowData]="searchresultsData" [columnDefs]="resultColumnDefs"
								(rowClicked)="osiosearRowSelectedExecuteQuery($event)" [selected]="selected">
							</s4-grid>
						</s4-panel>
					</div>
				</div>
				<div *ngIf="searchresultsModelTemp.offenderIdDisplay" fxLayout="column wrap"
					fxLayoutAlign="space-between none" fxLayoutGap="10px">
					<div fxFlex="1 0 auto" class="s4-panel">
						<s4-panel>
							<div fxLayout="row" fxLayoutAlign="space-between none">
								<div fxFlex class="s4-panel-title">
									{{translateService.translate('osiosear.offenderdetails')}}</div>
								<div fxFlex>
									<div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="7px">
										<s4-launchbutton id="addrbtn" link="/OCDADDRE" [disabled]="adrsenabled"
											[onLaunchClick]="onaddresLaunchClick">
											{{translateService.translate('osiosear.offenderaddress')}}
										</s4-launchbutton>
										<!-- <s4-launchbutton id="curtcasebtn" link="/OCDCCASE" [disabled]="caseenabled"
											[onLaunchClick]="onCourtLaunchClick">
											{{translateService.translate('osiosear.offendercourtcases')}}
										</s4-launchbutton> -->
										<span *ngIf="exitLaunchBtn">
											<s4-launchbutton id="but_exit" link="/OCDCLIST"
												[onLaunchClick]="onExitBtnClick">
												{{translateService.translate('common.exit')}} </s4-launchbutton>
										</span>
									</div>
								</div>
							</div>
							<div fxLayout="row" fxLayoutAlign="start none" fxLayoutGap="10px" class="image-box">
								<div fxFlex="0 0 300px">
									<div class="card-box">
										<mat-card class="mat-card mat-elevation-z3">
											<div class="bg-img">
												<s4-image
													[source]="image != null ? image : 'assets/images/EmptyPhoto.PNG'"
													id="osiosearoffimg"></s4-image>
											</div>
											<div class="mat-card-info">
												<h2 class="mat-card-title">{{offnLastName +', ' + offnFirstName}}</h2>
												<p class="mat-card-content">{{ethn ? ethn : 'Race'}}, {{weight ? weight
													+
													'kg' : 'Weight'}}, {{height ?
													height + 'cm' : 'Height'}}</p>
												<div class="fingerP-icon-btns">
													<div class="fingerprint-enrolled">
														<s4-checkbox id="fnrdchkbx" disabled>
															{{translateService.translate('osiosear.fingerprintenrolled')}}
														</s4-checkbox>
													</div>
													<div class="icon-btn" fxLayout="row" fxLayoutAlign="start none">
														<s4-button [isLink]="true" id="cmrabtn"
															(onClick)="CallFormImage()"
															[disabled]="cameraButtonDisabled">
															<img [title]="translateService.translate('eoffender.addphoto')"
																src="assets/icons/eoff_icons/add_a_photo_black_24x24.png" />
														</s4-button>
														<s4-button [isLink]="true" id="fngrbtn" disabled>
															<img [title]="translateService.translate('eoffender.fingerprint')"
																src="assets\icons\eoff_icons\FingerPrint.png" />
														</s4-button>
													</div>
												</div>
												<!-- <div class="icon-btns">
						<div class="icon-btn">
						<s4-checkbox id="fnrdchkbx" disabled>
						{{translateService.translate('osiosear.fingerprintenrolled')}}
						</s4-checkbox>
						</div>
						<div class="icon-btn">
						<s4-button [isLink]="true" id="cmrabtn"
						(onClick)="CallFormImage()" [disabled]="cameraButtonDisabled">
						<img [title]="translateService.translate('eoffender.createDocument')"
						src="assets/icons/eoff_icons/add_a_photo_black_24x24.png" />
						</s4-button>
						</div>
						<div class="icon-btn">
						<s4-button [isLink]="true" id="fngrbtn" disabled>
						<img [title]="translateService.translate('eoffender.createDocument')"
						src="assets\icons\eoff_icons\FingerPrint.png" />
						</s4-button>
						</div>
						</div> -->
											</div>
										</mat-card>
									</div>
								</div>
								<div fxFlex>
									<div fxLayout="column" fxLayoutAlign="start none" fxLayoutGap="10px">
										<div fxFlex>
											<mat-card class="mat-card">
												<div fxLayout="row" fxLayoutAlign="space-between none">
													<div fxFlex>
														<p><strong>{{translateService.translate('osiosear.agency')}}</strong></p>
													</div>
													<div fxFlex>
														<p><strong>{{translateService.translate('osiosear.status')}}</strong></p>
													</div>
													<div fxFlex>
														<p><strong>{{translateService.translate('osiosear.facility')}}</strong></p>
													</div>
													<div fxFlex>
														<p><strong>{{translateService.translate('osiosear.secondstatus')}}</strong></p>
													</div> 
												</div>
												<div fxLayout="row" fxLayoutAlign="space-between none">
													<div fxFlex><span>{{offDetailsModel.communityOfficer}}</span></div>
													<div fxFlex><span>{{offDetailsModel.communityStatus}}</span></div>
													<div fxFlex><span>{{offDetailsModel.prisonLocation}}</span></div>
													<div fxFlex><span>{{offDetailsModel.pprisonStatus}}</span></div>
												</div>
											</mat-card>
										</div>
										<div fxFlex>
											<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
												<div fxFlex>
													<!-- <s4-grid id="typgrd" [rowData]="offidData" [columnDefs]="IdentityColumnDefs">
						</s4-grid> -->
													<div id="typgrd">
														<table>
															<tr>
																<th>Identifier Type</th>
																<th>Number</th>
															</tr>
															<tr *ngFor="let row of offidData">
																<td>{{row.identifierType}}</td>
																<td>{{row.identifier}}</td>
															</tr>
															<tr *ngIf="offidData.length <= 0">
																<td colspan="2" rowspan="2" style="text-align:center;">
																	No
																	Data Found
																</td>
															</tr>
														</table>
													</div>
												</div>
												<div fxFlex>
													<!-- <s4-grid id="physgrid" [rowData]="offprofdtlsData" [columnDefs]="physicColumnDefs">
						</s4-grid> -->
													<div id="physgrid">
														<table>
															<tr>
																<th>Physical Characteristic</th>
																<th>Detail</th>
															</tr>
															<tr *ngFor="let row of offprofdtlsData">
																<td>{{row.profileType}}</td>
																<td>{{row.profileCode}}</td>
															</tr>
															<tr *ngIf="offprofdtlsData.length <= 0">
																<td colspan="2" rowspan="2" style="text-align:center;">
																	No
																	Data Found
																</td>
															</tr>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- <div class="card-box">
						<mat-card class="mat-card mat-elevation-z3">
						<div class="bg-img">
						<s4-image [source]="image != null ? image : 'assets/images/EmptyPhoto.PNG'" id="osiosearoffimg"></s4-image>
						</div>
						<div class="mat-card-info">
						<div fxLayout="row" fxLayoutAlign="space-between none">
						<div fxFlex><p><strong>Agency</strong></p></div>
						<div fxFlex><p><strong>Status</strong></p></div>
						</div>
						<div fxLayout="row" fxLayoutAlign="space-between none">
						<div fxFlex><p><strong>{{offDetailsModel.communityOfficer}}</strong></p></div>
						<div fxFlex><p><strong>{{offDetailsModel.communityStatus}}</strong></p></div>
						</div>
						<div fxLayout="row" fxLayoutAlign="space-between none">
						<div fxFlex><p><strong>Facility</strong></p></div>
						<div fxFlex><p><strong>Status</strong></p></div>
						</div>
						<div fxLayout="row" fxLayoutAlign="space-between none">
						<div fxFlex><p>{{offDetailsModel.prisonLocation}}</p></div>
						<div fxFlex><p>{{offDetailsModel.pprisonStatus}}</p></div>
						</div>
						</div>
						</mat-card>
						</div> -->
								</div>
							</div>
						</s4-panel>
					</div>
					<!-- <div class="s4-panel">
						<s4-panel [title]="translateService.translate('osiosear.identifierType')">
						<div fxLayout="row" fxLayoutAlign="space-between none" fxLayoutGap="10px">
						<div fxFlex>
						<div fxFlex>
						<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
						<div fxFlex="1 0 130px">
						<s4-textbox id="textcommunity_officer" [placeholder]="translateService.translate('system-profile.comm-agency')" [(ngModel)]="offDetailsModel.communityOfficer"
						readonly="true"></s4-textbox>
						</div>
						<div fxFlex="1 0 130px">
						<s4-textbox id="textcommunity_status" [placeholder]="translateService.translate('osiosear.status')" [(ngModel)]="offDetailsModel.communityStatus"
						readonly="true"></s4-textbox>
						</div>
						</div>
						</div>
						<div fxFlex>
						<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
						<div fxFlex="1 0 130px">
						<s4-textbox id="textprison_location" [placeholder]="translateService.translate('system-profile.inst-agency')" [(ngModel)]="offDetailsModel.prisonLocation"
						readonly="true"></s4-textbox>
						</div>
						<div fxFlex="1 0 130px">
						<s4-textbox [placeholder]="translateService.translate('osiosear.status')" [(ngModel)]="offDetailsModel.pprisonStatus" readonly="true"></s4-textbox>
						</div>
						</div>
						</div>
						
						</div>
						<div fxFlex>
						<h1><strong>Physical Characteristics</strong></h1>
						<div fxFlex>
						<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
						<div fxFlex="1 0 70px">
						<s4-textbox id="textheight" [placeholder]="translateService.translate('osiosear.height')" [(ngModel)]="height" readonly="true"></s4-textbox>
						</div>
						<div fxFlex="1 0 70px">
						<s4-textbox id="textweight" [placeholder]="translateService.translate('osiosear.weight')" [(ngModel)]="weight" readonly="true"></s4-textbox>
						</div>
						<div fxFlex="1 0 70px">
						<s4-textbox id="textethn" [placeholder]="translateService.translate('system-profile.pers-id-race')" [(ngModel)]="ethn" readonly="true"></s4-textbox>
						</div>
						</div>
						</div>
						
						</div>
						</div>
						<div fxLayout="column" fxLayoutAlign="space-between none" fxLayoutGap="10px">
						<div fxFlex>
						
						<div fxFlex>
						</div>
						<div fxFlex>
						<s4-button mat-icon-button id="cmrabtn" (onClick)="CallFormImage()"
						[disabled]="cameraButtonDisabled">
						<s4-icon>add_a_photo</s4-icon>
						</s4-button>
						
						</div>
						<div fxFlex>
						<s4-button mat-icon-button id="fngrbtn" disabled>
						<s4-icon>fingerprint</s4-icon>
						</s4-button>
						</div>
						</div>
						</div>
						</s4-panel>
						</div> -->
				</div>
			</div>
		</div>
	</s4-pane>
</div>