	<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
	<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('ocipphis.panetitle')" screenId="OCIPPHIS" #dialog>
		<s4-dialog-card-content class="s4-dialog-card-content">
			<s4-panel [cardType]="true" [title]="">
				<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
					<div fxFlex>
						<s4-textbox id="code" name="code"
							[placeholder]="translateService.translate('ocipphis.caseinfo')"
							[(ngModel)]="infoNumber" maxlength="32" (ngModelChange)="isInsertable()"
							[readonly]="namesReadOnly"></s4-textbox>
					</div>
					<div fxFlex>
						<s4-number id="code" name="code"
							[placeholder]="translateService.translate('ocipphis.groupid')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.groupId" max="9999"
							(ngModelChange)="isInsertable()" whole = "true" [readonly]="namesReadOnly"></s4-number>
					</div>
					<div fxFlex>
						<s4-textbox id="code" name="code"
							[placeholder]="translateService.translate('ocipphis.type')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.groupCode"
							(ngModelChange)="isInsertable()"  [readonly]="namesReadOnly"></s4-textbox>
					</div>
					<div fxFlex>
						<s4-datepicker id="startdate" name="startdate"
							[placeholder]="translateService.translate('ocipphis.startdate')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.startDate"
							(ngModelChange)="isInsertable(date)" [readonly]="namesReadOnly" #date>
						</s4-datepicker>
					</div>
					<div fxFlex>
						<s4-datepicker id="enddate" name="enddate"
							[placeholder]="translateService.translate('ocipphis.enddate')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.endDate"
							(ngModelChange)="isInsertable(dateOne)" [readonly]="namesReadOnly" #dateOne>
						</s4-datepicker>
					</div>
					<div fxFlex>
						<s4-textbox id="code" name="code"
							[placeholder]="translateService.translate('ocipphis.frequency')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.frequency"
							(ngModelChange)="isInsertable()" [readonly]="namesReadOnly"></s4-textbox>
					</div>
					</div>
					<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
					<div fxFlex>
						<s4-datepicker id="closedate" name="closedate"
							[placeholder]="translateService.translate('ocipphis.closedate')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.paymentClosedDate"
							(ngModelChange)="isInsertable(dateTwo)" [readonly]="namesReadOnly" #dateTwo>
						</s4-datepicker>
					</div>
					<div fxFlex>
						<s4-datepicker id="scheduleddate" name="scheduleddate"
							[placeholder]="translateService.translate('ocipphis.scheduleddate')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.paymentDate"
							(ngModelChange)="isInsertable(dateThree)" [readonly]="namesReadOnly" #dateThree>
						</s4-datepicker>
					</div>
					<div fxFlex>
						<s4-datepicker id="transactiondate" name="transactiondate"
							[placeholder]="translateService.translate('ocipphis.transactiondate')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.transactionDate"
							(ngModelChange)="isInsertable(dateFour)" [readonly]="namesReadOnly" #dateFour>
						</s4-datepicker>
					</div>
					<div fxFlex>
						<s4-number id="scheduledamount" name="scheduledamount"
							[placeholder]="translateService.translate('ocipphis.scheduledamount')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.paymentAmount" whole = "true" max="999999"
							(ngModelChange)="isInsertable()" [readonly]="namesReadOnly">
						</s4-number>
					</div>
					<div fxFlex>
						<s4-number id="paidamount" name="paidamount"
							[placeholder]="translateService.translate('ocipphis.paidamount')"
							[(ngModel)]="vpaymentplanhistoriesSearchModel.paidAmount" whole = "true" max="999999"
							(ngModelChange)="isInsertable()" [readonly]="namesReadOnly">
						</s4-number>
					</div>
				</div>
				<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
					<s4-button type="primary" id="but_retrieve" name="BUT_Retrieve"
						(onClick)="vpaymentplanhistoriesExecuteQuery(date,dateOne,dateTwo,dateThree,dateFour)"
						[disabled]="retriveDisabled">{{translateService.translate('common.retrieve')}}
					</s4-button>
					<s4-button id="but_exit" name="BUT_EXIT" (onClick)="clear()" [disabled]="clearDisabled">
						{{translateService.translate('common.clear')}}</s4-button>
				</div>
				<div class="divider my-1">
					<mat-divider></mat-divider>
				</div>
				<div fxLayout="column" fxLayoutAlign="space-between none">
					<div fxFlex="1 0 auto">		
				<s4-grid id="vpaymentplanhistoriestab" [rowData]="vpaymentplanhistoriesData"
					[columnDefs]="vPaymentPlanHistoriesColumnDef"
					(rowClicked)="onRowClickvpaymentplanhistories($event)" 
					[disabled]="disabled" [selected]="tableIndex"></s4-grid>
					</div>
				</div>
			</s4-panel>
		</s4-dialog-card-content>
		<s4-dialog-card-actions class="s4-dialog-card-actions" id="otucobwh_dlgactn">
			<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
				<s4-button type="primary" (onClick)="onButExitclick()">{{translateService.translate('common.exit')}}</s4-button>
			</div>
		</s4-dialog-card-actions>
	</s4-dialog-card>
