@use '@angular/material' as mat;
.s4-theme {
	$s4-dark-primary-text: #0B0C0C;
	$s4-light-primary-text: #FFFFFF;
	$dark-disabled-text: rgba(black, 0.38);
	$s4-blue: (
	  50: #CAD9E6,
	  100: #B3C6D7,
	  200: #89ACCC,
	  300: #5285B4,
	  400: #326DA2,
	  500: #005297,
	  600: #044A84,
	  700: #043F71,
	  800: #003460,
	  900: #002652,
	  A100: #468FCC,
	  A200: #2D81C9,
	  A400: #006CC9,
	  A700: #003F75,
	  contrast: (
	    50: $s4-dark-primary-text,
	    100: $s4-dark-primary-text,
	    200: $s4-dark-primary-text,
	    300: $s4-dark-primary-text,
	    400: $s4-dark-primary-text,
	    500: $s4-light-primary-text,
	    600: $s4-light-primary-text,
	    700: $s4-light-primary-text,
	    800: $s4-light-primary-text,
	    900: $s4-light-primary-text,
	    A100: $s4-dark-primary-text,
	    A200: $s4-light-primary-text,
	    A400: $s4-light-primary-text,
	    A700: $s4-light-primary-text,
	  )
	);
	
	$s4-light-blue: (
	  50: #FFFFFF,
	  100: #F9FBFC,
	  200: #EFF4F7,
	  300: #E2EDF4,
	  400: #D6E2E9,
	  500: #005297,
	  600: #BCD6E7,
	  700: #97BDD6,
	  800: #6BA3C8,
	  900: #3E80AC,
	  A100: #C1E0F4,
	  A200: #97CBED,
	  A400: #6FB2DE,
	  A700: #3E80AC,
	  contrast: (
	    50: $s4-dark-primary-text,
	    100: $s4-dark-primary-text,
	    200: $s4-dark-primary-text,
	    300: $s4-dark-primary-text,
	    400: $s4-dark-primary-text,
	    500: $s4-light-primary-text,
	    600: $s4-light-primary-text,
	    700: $s4-light-primary-text,
	    800: $s4-light-primary-text,
	    900: $s4-light-primary-text,
	    A100: $s4-dark-primary-text,
	    A200: $s4-dark-primary-text,
	    A400: $s4-dark-primary-text,
	    A700: $s4-light-primary-text,
	  )
	);
	
	$s4-theme-background: (
	  status-bar: #0B0C0C,
	  app-bar:    #002C52,
	  background: #FFFFFF,
	  hover:      #B2CBDF,
	  card:       #FFFFFF,
	  dialog:     #FFFFFF,
	  disabled-button: #dddee2,
	  raised-button: #ffffff,
	  focused-button: #005297,
	  selected-button: #005297,
	  selected-disabled-button: #dddee2,
	  disabled-button-toggle: #dddee2,
	  unselected-chip: #E5ECF1,
	  disabled-list-option: #729EC4,
	);
	
	$s4-theme-foreground: (
	  base:              #FFFFFF,
	  divider:           #BFC1C3,
	  dividers:          #BFC1C3,
	  disabled:          $dark-disabled-text,
	  disabled-button:   rgba(black, 0.26),
	  disabled-text:     #DEE0E2,
	  hint-text:         #BFC1C3,
	  secondary-text:    #00437B,
	  icon:              #005297,
	  icons:             #005297,
	  text:              #0B0C0C,
	  slider-min:        rgba(black, 0.87),
	  slider-off:        rgba(black, 0.26),
	  slider-off-active: rgba(black, 0.38),
	);
	
	$s4-theme-ui-components: (
	   button-primary-disabled-background: #f5f7fc,
	   button-primary-disabled-border: #8aaabd,
	   button-primary-disabled-color: #9ea7bb,
	   button-primary-background: #374e79,
	   button-primary-border: #374e79,
	   button-primary-border-width: 1px,
	   button-primary-color: #FFFFFF,
	   button-primary-disabled-opacity: 0.8,
	   button-secondary-background: #c9cbcf,
	   button-secondary-border: #9da4af,
	   button-secondary-color: #415881,
	   button-secondary-border-width: 1px,	   
	   button-secondary-disabled-color: #c1cadb,
	   button-secondary-disabled-border: #c1cadb,
	   button-secondary-disabled-background: #e1e6ee,
	   
	   link-unlink-button-background: #005297,
	   link-unlink-button-color: #ffffff,
	   input-border: #cccccc,
	   input-border-width: 1px,
	   input-background: #ffffff,
	   input-label-color: #181818,
	   input-border-focus: #3192e1,
	   input-border-invalid: #e13131,
   		input-border-color-disabled: #dee0e2,
	   
	   s4-header-border-bottom-width: 0,
	   header-block-background: #e9e8e8,
	   header-block-border-bottom: #d2d2d2,
	   header-block-border-top: #cdcdcd,
	   header-block-label-color: #7b7b7b,
	   header-block-image-border: #959595,
	   header-block-image-background: #fff,
	   header-block-input-color: #323333,
	   header-block-alert-color: #f22211,
	   header-right-option-color: #f2f2f2,
	   
	   primary-background-color: #ffffff,
	   primary-background-border-color: #70a586,
	   dialog-title-background: #005297,
	   dialog-title-color: #ffffff,
	   
	   message-warn-background: #c15700,
	   message-error-background: #d64113  ,
	   message-error-color: white,
	   message-success-background: #4d831e,
	   message-info-background:#0677d5,
	   message-error-button-color: white,
	   message-error-button-background: #f22211,
	   
	   pane-header-background: #c1cadb,
	   pane-title-no-header-color: #070707,
	   s4-panel-title-color: #0b0c0c,
	   
	   search-block-top-background: #c1c1c1,
	   search-block-top-shadow: rgba(140,140,140,1),
	   search-block-result-background: #d2d1d1,
	   s4-search-background-image: url(/assets/images/search_open.png),
	   
	   grid-scale-factor: 7px,
	   grid-header-color: #2a2929,
	   grid-header-background: #e1e6ee,
	   grid-selected-row-color: #c6ced3,
	   grid-selected-row-background: #d2e2f1,
	   grid-enter-selected-row-background: #a5c6e3,
	   grid-row-odd-background: #f9f9f9 ,
	   grid-row-even-background: #FFFFFF,
	   grid-selected-cell-outline-color: #4a8dc6,
	   grid-selected-cell-bg-color: #a5c6e3,
	   grid-footer-button-focus-background: #89ACCC,
	   grid-footer-button-enabled-background: #005297,
	
	   lov-option-text-color: #303131,
	   lov-option-hover-background: #1b3667,
	   lov-option-hover-color: #fff,
	   lov-option-header-color: #47628b,
	   footer-background: #3F51B5,
	   footer-color: #FFFFFF,
	   s4-footer-border-top-width: 0,
	   
	   tab-group-background: #acacac,
       tab-group-tab-color: #7d7d7d,
       tab-group-tab-background: #00b1f3,
       tab-group-tab-background-color: #fff,
	   
	   sidenav-background: #EDEDED,
	   
	   topbar-search-icon-open-background: #234480,
	   
	   user-profile-menu-background: #23447F,
	   user-profile-menu-item-color: #FFFFFF,
	   user-profile-menu-item-hover-color: #37558b,
	   user-profile-menu-heading-color: #c5d9fd,
	   user-profile-menu-icon-logout-background: #2f4e85,
	   user-profile-menu-icon-logout-color: #c5d9fd,
	   user-profile-menu-icon-logout-border-color: #395fa6,
	   user-profile-menu-item-logout-background: #f7f3f3,
	   user-profile-menu-divider-color: #305cac,
	   user-profile-menu-item-selected-language-color: blue,
	   user-profile-menu-icon-color: #ffffff,
	   user-profile-location-button-color: #ffffff,
	   user-profile-location-button-font-size: 14px,
	   s4-user-profile-button-background-image: url(/assets/images/user-profile.png),
	   user-profile-language-button-color: #ffffff,
	   user-profile-selected-language-button-color: #ffffff,
	   user-profile-menu-item-selected-menu-color:#097cdc,
	   pane-item-color:#eee5e5,
	   
	   main-container-background: #d7e5f1,
	   main-container-row-hover-background: #b3dcff,
	   main-container-row-hover-color: #1f1f5f,
	   main-container-row-divider: #cacaca,
	   main-container-row-icon-background: #002c52,
	   main-container-row-active-icon-background: #636363,
	   main-container-row-icon-color: #fff,
	   main-container-row-heading-color: #002c52,
   	   main-container-row-heading-icon-color: #00437B,
	   
	   sidenav-menu-background: #ffffff,
	   sidenav-menu-li-background: #dce5ec,
	   sidenav-menu-row-hover-background: #b33dcf,
	   sidenav-menu-row-hover-color: #1f1f5f,
	   sidenav-menu-submenu-l1-bullet: '\25CB',
	   sidenav-menu-submenu-l1-bullet-size: 22px,
	   sidenav-menu-submenu-l1-row-color: #373c41,
	   sidenav-menu-submenu-l2-row-color: #000000,
	   sidenav-menu-submenu-row-hover-background: #b4dcff,
	   sidenav-menu-row-color: #002c52,
	   sidenav-right-border-color: transparent,
	   sub-menu-ul-li-open-background: #f4f4f4,
	   sub-menu-ul-li-menurow-background: #f4f4f4,
	   sub-menu-ul-li-open-color: #000000,
	   
	   login-background-image: url(/assets/images/login-bg.jpg),
	   login-intro-header-color: #ffffff,
	   login-intro-body-color: #bac7cc,
	   login-panel-background: white,
	   login-panel-input-background: #e3e3e3,
	   login-panel-title-color: #032d7f,
	   login-panel-language-button-background: #e9e9e9,
	   login-panel-language-selected-background: #c3c3c3,
	   login-panel-language-title-color: #333333,
	   login-panel-language-button-color: #333333,
	   login-panel-selected-language-button-color: #333333,
	   
	   oidcount-row-count-ongoing-color: rgb(255, 0, 0),
	   oidcount-row-count-complete-color: rgb(0, 0, 0),
	   
   oidincde-create-incident-box-shadow-color: #777777,
   oidincde-create-incident-checkbox-border: #b7b7b7,
   oidincde-create-incident-sub-title-background: #e0eaf4,
   oidincde-create-incident-sub-title-color: #374458,
   
	   legal-header-border: #dde3ed,
	   legal-tabgroup-background: #acacac,
	   legal-tabgroup-active-background: #00b1f3,
	   legal-tabgroup-completed-background: #00a651,
	   legal-tabgroup-header-color: #7d7d7d,
	   legal-icon-button-background: #005297,
	   legal-icon-button-color: #fff,
	   
	   inmate-summary-info-box-border: 1px,
	   inmate-summary-info-box-border-color: #e9edf2,
	   inmate-summary-box-header-background:#e9edf2, 
	   inmate-summary-box-header-color:#2c5284,
	   inmate-summary-box-sub-header-background:white,
	   inmate-summary-box-close-icon-color: #002c52,
	   ocurwarn-message-panel-background: #8cb6ea,
	   circle-background-color: #8bbc3e,
	   heading-background-color: #c1cadb,
	   circle-percentage-background-color: #f94043,
	   housing-btn-background-color: #415881,
	   breadcrumb-item-background-color: #908e8e,
	   breadcrumb-item-active-color: #181818,
	   dialog-title-background-color: #c1cadb,
	   work-flow-icon-color: #415881,

       property-drop-down-btn-bg: #37558b,
	   property-drop-down-btn-height: 34px,
	   drop-down-menu-width: 205px,
	   drop-down-panel-bg: #23447f,
	   drop-down-panel-bg-hover: #37558b,
	    
	   ocdaddre-panel-description-warn-flag-border-color: #f44336,
	   ocdaddre-panel-description-warn-flag-text-color: #f44336,
	   ocdaddre-panel-description-primary-flag-border-color: #374e79,
	   ocdaddre-panel-description-primary-flag-text-color: #374e79,
	);
	
	$default-theme-primary: mat.define-palette($s4-blue);
	$default-theme-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
	$default-theme-warn: mat.define-palette(mat.$red-palette);
	
	
	@function s4-theme($primary, $accent, $warn) {
	  @return (
	    primary: $primary,
	    accent: $accent,
	    warn: $warn,
	    is-dark: false,
	    foreground: $s4-theme-foreground,
	    background: $s4-theme-background,
	    ui-components: $s4-theme-ui-components,
	  );
	}
	
	
	$default-theme: s4-theme($default-theme-primary, $default-theme-accent, $default-theme-warn);
	
	$default-mat-typography: mat.define-typography-config(
	  			$font-family:   'open_sansregular, "Helvetica Neue", sans-serif',
			  	$display-4:     mat.define-typography-level(112px, 112px, 300),  /* to confirm */
				$display-3:     mat.define-typography-level(56px, 56px, 400),  /* to confirm */
				$display-2:     mat.define-typography-level(45px, 48px, 400),  /* to confirm */
				$display-1:     mat.define-typography-level(34px, 40px, 400),  /* to confirm */
				$headline:      mat.define-typography-level(22px, 32px, 500),
				$title:         mat.define-typography-level(18px, 24px, 600),  
				$subheading-2:  mat.define-typography-level(18px, 28px, 600),  /* to confirm */
				$subheading-1:  mat.define-typography-level(18px, 24px, 600),  /* to confirm */
				$body-2:        mat.define-typography-level(14px, 24px, 500),  /* to confirm */
				$body-1:        mat.define-typography-level(14px, 20px, 400),  /* to confirm */
				$caption:       mat.define-typography-level(12px, 20px, 400),  /* to confirm */
				$button:        mat.define-typography-level(16px, 32px, 500),
				// Line-height must be unit-less fraction of the font-size.
				$input:         mat.define-typography-level(14px, 1.125, 400)
	);
	

	$default-typography: (
	    map-merge( $default-mat-typography, 
	                (input-label: mat.define-typography-level(13px, 14px, 400),
	                 header-input: mat.define-typography-level(14px, 1.125, 600),
	                 grid-data: mat.define-typography-level(14px, 1.125, 400),
	                 grid-header: mat.define-typography-level(14px, 1.125, 600),
	                 lov-option-text: mat.define-typography-level(14px, 16px, 400),
	                 lov-option-header-text: mat.define-typography-level(15px, 16px, 600),
	                 user-profile-menu-item: mat.define-typography-level(14px, 16px, 400),
	                 menu-container-heading: mat.define-typography-level(15px, 32px, 600),
	                 menu-container-heading-icon: mat.define-typography-level(18px, 18px, 600),
	                 sidenav-menu-item: mat.define-typography-level(13px, 15px, 400),
	                 sidenav-menu-submenu-item: mat.define-typography-level(12px, 15px, 400),
	                 login-intro-header: mat.define-typography-level(35px, 56px, 600),
	                 login-intro-body: mat.define-typography-level(16px, 28px, 400),
	                 login-panel-title: mat.define-typography-level(35px, 40px, 400),
	                 login-panel-title-bold: mat.define-typography-level(35px, 40px, 600),
	                 login-panel-language-title: mat.define-typography-level(16px, 18px, 400),
	                 legal-header: mat.define-typography-level(18px, 20px, 600),
	                 legal-tabgroup-header: mat.define-typography-level(15px, 18px, 400),
	                 inmate-summary-header: mat.define-typography-level(18px, 20px, 600),
	             ))
	);
	@include mat.all-component-themes($default-theme);
	@include default-theme($default-theme, $default-typography);
}	

