<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
	<s4-pane [cardType]="true" [title]="translateService.translate('ouminout.panelTitle')" screenId="OUMINOUT">
	<s4-panel [cardType]="true" [title]="">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="0 0 180px">
				<s4-lov id="reason" name="reason" [placeholder]="this.translateService.translate( 'common.reason' )" [(ngModel)]="moversnSearchModel.inMovementReasonCode"
				 [link]="reasonLink"  [titles]="reasonTitles"  [readonly]="namesReadOnly" maxlength="40" (ngModelChange)="isInsertable()"  (change) = "onReasonBlur()" source="OUMEMOVE"></s4-lov>
			</div>
			<div fxFlex="0 0 auto"> 
				<s4-checkbox id="escape" name="escRecapFlag"  [(ngModel)]="moversnSearchModel.escRecapFlag" [disabled] = "checkDisabled"  (ngModelChange)="isInsertable()">{{translateService.translate('ouminout.escape')}}
				</s4-checkbox>
			</div>
			<div fxFlex="0 0 100px">
				<s4-number id="sequence" name="sequence" [placeholder]="this.translateService.translate( 'ocmnoque.sequence' )" [(ngModel)]="moversnSearchModel.listSeq"
				 [readonly]="namesReadOnly" max="99999" whole="true" (ngModelChange)="isInsertable()"></s4-number>
			</div>
			<div fxFlex="0 0 auto">
				<s4-checkbox id="active" name="active" [(ngModel)]="moversnSearchModel.activeFlag" (ngModelChange)="isInsertable()" [disabled]="checkDisabled">
					{{translateService.translate('common.active')}}
				</s4-checkbox>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary" id="but_retrieve" name="BUT_Retrieve" (onClick)="moversnExecuteQuery()" [disabled]="retriveDisabled">{{translateService.translate('common.retrieve')}}</s4-button>
			<s4-button id="but_exit" name="BUT_EXIT" (onClick)="clear()" [disabled]="clearDisabled">
				{{translateService.translate('common.clear')}}</s4-button>
		</div>
	</s4-panel>
	<s4-panel [cardType]="true" [title]="translateService.translate('ouminout.gridTiltle')">
		<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
			<div [style.margin-left.px]="getFromOffenderMargin()">
				<span class="bold-label">
					<span class="s4-label">
				{{translateService.translate('ouminout.out')}}
			</span>
			</span>
			</div>

			<div [style.margin-left.px]="getToOffenderMargin()">
				<span class="bold-label">
					<span class="s4-label">
				{{translateService.translate('ouminout.in')}}
			</span>
		    </span>
			</div>
		</div>	
		<div fxLayout="column" fxLayoutAlign="space-between none">
			<div fxFlex="1 0 auto">
				<s4-grid #mvmtRsnGrid id="moversn" id="moversntab" [rowData]="moversnData" [columnDefs]="moveRsnColumnDef" enableUpdate=true
				 enableDelete="true" [disabled]="disabled" [selected]="tableIndex" [validateRow]="validateRowData" (onCommit)="savealertForm($event)"
				  (rowClicked)="onRowClickMovmtReason($event)"  [onClear] = "onGridClear" [onDelete]="onGridDelete"></s4-grid>
			</div>
		</div>
	</s4-panel>
</s4-pane>