<s4-message [(msgs)]="msgs"></s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oidcipon.careinplacementtitle')" screenId="OIDCIPON"
	showInmateHeader=true [selectedOffender]="vHeaderBlockModel" (selectedOffenderChange)="onOffenderChange($event)"
	limitSearchToCaseload=true>
	<s4-panel [cardType]="true" [title]="translateService.translate('oidcipon.careinplace')">
		<s4-grid id="offcipdetailstab" #grid [columnDefs]="offCipDetailsColumnDef" [rowData]="offcipdetailsData"
			(rowClicked)="onRowClickoffcipdetails($event)" [enableInsert]="addFlag" enableUpdate=true enableDelete=true
			[validateRow]="updateOffenderCipValidator" externalSave=true
			[selected]="tableIndex" [onInsert]="onGridReady" [onDelete]="offCipDetailsOnDeleteTrigger"
			[onClear]="oidciponOnClearDetailsTrigger">
		</s4-grid>
	</s4-panel>
	<s4-panel [cardType]="true" [title]="translateService.translate('oidcipon.detailstitle')">
		<form #searchForm="ngForm">
			<div fxLayout="row wrap" fxLayoutAlign="space-between end" fxLayoutGap="10px">
				<div fxFlex>
					<s4-lov id="cousty" domain='CIP_AUTH' [disabled]="disabledFlag"
					(blur)="onCodeBlur(offcipdetailsModel.authByPerCode,'authByPerCode')"
					optionWidth="450" name="fromcus" maxlength="81" required="true"
					[(ngModel)]=offcipdetailsModel.authByPerCode [readonly]="authorizeReadOnlyFlag"
					[placeholder]="translateService.translate('oidcipon.authorizedby')"
					(mousedown)="onAuthorizeLovMouseDown()"
					(optionChange)="authByPerCodeWhenValidateItemTrigger()">
				</s4-lov>
				<!-- link="oidcipon/rgAuthorizedByRecordGroup" -->
				</div>
				<div fxFlex>
					<s4-textbox id="repcap" [(ngModel)]=offcipdetailsModel.authByPerName (blur)="onCodeBlur(offcipdetailsModel.authByPerName,'authByPerName')"
						name="arragycode" required="true" [readonly]="textBoxReadOnlyFlag" [disabled]="disabledFlag"
						[placeholder]="translateService.translate('oidcipon.name')" (keydown)="isInsertableAuthBy()"
						maxlength="32" uppercase> </s4-textbox>
				</div>
				<div fxFlex="initial" fxFlexAlign="center">
					<label>{{translateService.translate('oidcipon.timeserved')}}</label>
				</div>
				<div fxFlex>
					<s4-textbox id="dayscap" [(ngModel)]=offcipdetailsModel.nbtDaysServed name="arragycode" [disabled]="disabledFlag"
						readonly="true" name="daysserved" (blur)="onCodeBlur(offcipdetailsModel.nbtDaysServed,'nbtDaysServed')"
						[placeholder]="translateService.translate('oidcipon.days')" (keyup)="isInsertable()">
					</s4-textbox>
				</div>
				<div fxFlex>
					<s4-textbox id="hourscap" readonly="true" (blur)="onCodeBlur(offcipdetailsModel.nbtHoursServed,'nbtHoursServed')"
						[(ngModel)]=offcipdetailsModel.nbtHoursServed name="arragycode" [disabled]="disabledFlag"
						[placeholder]="translateService.translate('oidcipon.hours')" (keyup)="isInsertable()"
						name="hoursserved"> </s4-textbox>
				</div>
			</div>
			<div fxLayout="row wrap" fxLayoutAlign="space-between end" fxLayoutGap="10px">
				<div fxFlex="20">
					<s4-datepicker id="dateEFFECTIVE_DATE" [(ngModel)]=offcipdetailsModel.effectiveDate name="escdate" [disabled]="disabledFlag"
						(blur)="onCodeBlur(offcipdetailsModel.effectiveDate,'effectiveDate')" dateFormat="MM/DD/YYYY" [readonly]="disabled" maxlength="11"
						[placeholder]="translateService.translate('oidcipon.effectivedate')" required="true"
						(click)="clickEffectiveDate()" (ngModelChange)="effectiveDateWhenValidateItemTrigger($event);">
					</s4-datepicker>
				</div>
				<div fxFlex="11">
					<s4-time id="texteffective_time" [readonly]="disabled" (blur)="onCodeBlur(offcipdetailsModel.effectiveTime,'effectiveTime')"
						[(ngModel)]="offcipdetailsModel.effectiveTime" name="esctime" [disabled]="disabledFlag"
						[placeholder]="translateService.translate('oidcipon.time')" required="true" maxlength="11"
						(click)="clickEffectiveTime()">
					</s4-time>
				</div>
				<div fxFlex="11">
					<!-- <section *ngIf=" offcipdetailsModel.durationType === 'HOURS' || offcipdetailsModel.durationType === 'DAYS'
					|| offcipdetailsModel.durationType === 'INDEFINITE' ">
						<s4-textbox name="durationType" required="true" maxlength="12" (blur)="onCodeBlur()"
							[placeholder]="translateService.translate('oidcipon.durationtype')"
							[(ngModel)]="offcipdetailsModel.durationType" [readonly]="durationTypeReadOnlyFlag"
							(keydown)="durationTypeInsertable()"></s4-textbox>
					</section>
					<section *ngIf=" !(offcipdetailsModel.durationType === 'HOURS' || offcipdetailsModel.durationType === 'DAYS' ||
					offcipdetailsModel.durationType === 'INDEFINITE') "> -->
						<s4-lov [link]="placementLink" (blur)="onCodeBlur(offcipdetailsModel.durationType,'durationType')" source="OIMPLDUR"
							[(ngModel)]="offcipdetailsModel.durationType" [readonly]="durationTypeReadOnlyFlag"
							name="durationType" optionWidth="350" maxlength="12" required="true" [disabled]="disabledFlag"
							[titles]="durationTitle"
							(optionChange)="durationTypeWhenValidateItemTrigger($event)"
							[placeholder]="translateService.translate('oidcipon.durationtype')"
							(mousedown)="onDurationTypeLovMouseDown()"> </s4-lov>
					<!-- </section> -->
				</div>
				<div fxFlex="11">
					<s4-number id="numduration" max="999999" pattern="[0-9]{0,6}"
						[(ngModel)]="offcipdetailsModel.duration" [required]="durationFlag" (blur)="onCodeBlur(offcipdetailsModel.duration,'duration')"
						[readonly]="!durationFlag" name="duration" [disabled]="disabledFlag"
						(ngModelChange)="durationWhenValidateItemTrigger($event)"
						[placeholder]="translateService.translate('oidcipon.duration')" maxlength="11" whole="true">
					</s4-number>
				</div>
				<div fxFlex="15">
					<s4-datepicker id="dateR EVIEW_DATE" (ngModelChange)="reviewDateWhenValidateItemTrigger($event);"
						[(ngModel)]=offcipdetailsModel.reviewDate [required]="durationFlag" (blur)="onCodeBlur(offcipdetailsModel.reviewDate,'reviewDate')"
						[readonly]="reviewDateReadOnly" name="reviewDate" maxlength="11" [disabled]="disabledFlag"
						[placeholder]="translateService.translate('oidcipon.reviewdate')" dateFormat="DD/MM/YYYY"
						(click)="reviewDateKeyPressTimes()"> </s4-datepicker>
				</div>
				<div fxFlex="15">
					<s4-datepicker id="dateEXPIRY_DATE" [(ngModel)]=offcipdetailsModel.expiryDate readonly="true" [disabled]="disabledFlag"
						(blur)="onCodeBlur(offcipdetailsModel.expiryDate,'expiryDate')" [placeholder]="translateService.translate('oidcipon.expirydate')"
						dateFormat="MM/DD/YYYY" (click)="keyPressTimes()" maxlength="11" [readonly]="display"
						name="expiryDate"> </s4-datepicker>
				</div>
				<div fxFlex="11">
					<s4-time id="textexpiry_time" (click)="keyPressTimes()" name="expiryTime" (blur)="onCodeBlur(offcipdetailsModel.expiryTime,'expiryTime')"
						[(ngModel)]="offcipdetailsModel.expiryTime" readonly="true" [disabled]="disabledFlag"
						[placeholder]="translateService.translate('oidcipon.expirytime')" maxlength="11"
						[readonly]="display"> </s4-time>
				</div>
			</div>
			<div fxLayout="row wrap" fxLayoutAlign="space-between end" fxLayoutGap="10px">
				<div fxFlex>
					<s4-textbox id="textcomment_text" [(ngModel)]="offcipdetailsModel.commentText" [disabled]="disabledFlag"
						[readonly]="textBoxReadOnlyFlag" (blur)="onCodeBlur(offcipdetailsModel.commentText,'commentText')"
						[placeholder]="translateService.translate('oidcipon.comments')" maxlength="4000"
						(keydown)="commentInsertable()" name="commentText"> </s4-textbox>
				</div>
			</div>
			<div fxLayout="row wrap" fxLayoutAlign="space-between end" fxLayoutGap="10px">
				<div fxFlex>
					<s4-lov id="selnbt_rel_by_desc" optionWidth="350" (blur)="onCodeBlur(offcipdetailsModel.relByPerCode,'relByPerCode')"
						name="reldesc" (optionChange)="relByPerCodeWhenValidateItemTrigger()" [disabled]="disabledFlag"
						[(ngModel)]="offcipdetailsModel.relByPerCode" [readonly]="relByPerCodeReadOnlyFlag"
						[placeholder]="translateService.translate('oidcipon.releasedby')" domain='CIP_AUTH'
						maxlength="40" (mousedown)="onLovMouseDown()"> </s4-lov>
					</div>
					<!-- link="oidcipon/rgReleasedByRecordGroup" -->
				<div fxFlex>
					<s4-textbox id="textrel_by_per_name" [(ngModel)]="offcipdetailsModel.relByPerName" [disabled]="disabledFlag"
						[readonly]="textBoxReadOnlyFlag" (keydown)="isInsertableRelBy()" name="relName"
						(blur)="onCodeBlur(offcipdetailsModel.relByPerName,'relByPerName')" [placeholder]="translateService.translate('oidcipon.nameofrelease')"
						maxlength="32" uppercase> </s4-textbox>
				</div>
				<div fxFlex="15">
					<s4-datepicker id="dateRELEASE_DATE" [readonly]="disabled" name="relDate" (blur)="onCodeBlur(offcipdetailsModel.releaseDate,'releaseDate')"
						[(ngModel)]=offcipdetailsModel.releaseDate (click)="clickReleaseDate()" [disabled]="disabledFlag"
						(ngModelChange)="releaseDateWhenValidateItemTrigger($event);"
						[placeholder]="translateService.translate('oidcipon.date')" dateFormat="MM/DD/YYYY"
						maxlength="11" [readonly]="disabled"> </s4-datepicker>
				</div>
				<div fxFlex="15">
					<s4-time id="textrelease_time" [readonly]="disabled" (blur)="onCodeBlur(offcipdetailsModel.releaseTime,'releaseTime')"
						[(ngModel)]="offcipdetailsModel.releaseTime" (click)="clickReleaseTime()" name="relTime" [disabled]="disabledFlag"
						[placeholder]="translateService.translate('oidcipon.time')" maxlength="11"> </s4-time>
				</div>

			</div>
			<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
				<s4-button type="primary" [disabled]="saveDisable" (onClick)="oidciponSaveoffcipdetailsBlock()">
					{{translateService.translate('common.btnsave')}}</s4-button>
				<s4-button id="but_oic_hearing" name="BUT_OIC_HEARING" [disabled]="saveDisable" 
					(onClick)="butOicHearingWhenButtonPressedTrigger()">
					{{translateService.translate('oidcipon.btnoichearing')}}
				</s4-button>
				<s4-button id="but_change_housing" name="BUT_CHANGE_HOUSING" [disabled]="saveDisable" 
					(onClick)="butChangeHousingWhenButtonPressedTrigger()">
					{{translateService.translate('oidcipon.btnchangehousing')}}</s4-button>
				<!-- <s4-button (onClick)="cancel()" [disabled]="clearFlag">
					{{translateService.translate('common.clear')}} </s4-button> -->
					<s4-button *ngIf="backDisable" id="backButton" name="backButton"
								(onClick)="onBackButtonClick()">
							{{translateService.translate('common.back')}}</s4-button>
			</div>

		</form>
	</s4-panel>
</s4-pane>
<!--[disabled]="searchForm.invalid || saveFlag"-->
