<s4-message [(msgs)]="msgs" id="validmsg"> </s4-message>
<s4-pane [cardType]="true" [title]="translateService.translate('oiicmoci.screenname')" [screenId]="translateService.translate('oiicmoci.screenid')" class="oiicmoci">
	<s4-panel [cardType]="true" [title]="translateService.translate('oiicmoci.courtschedules')">
		<form #oiicmociForm="ngForm">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="10px">
			<div fxFlex="0 0 210px">
				<div fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="10px">
					<div fxFlex="0 0 125px">
						<s4-datepicker id="selevent_date"  [readonly]="dateReadonly"  name="selevent_date" [placeholder]="translateService.translate('common.date')" [(ngModel)]="crteventsModel.eventDate" required="true"></s4-datepicker>
					</div>
					<div fxFlex="0 0 75px">
						<s4-time id="selstart_time"   [readonly]="timeReadonly" name="selstart_time" [placeholder]="translateService.translate('common.time')" [(ngModel)]="crteventsModel.startTime"></s4-time>
					</div>
				</div>
			</div>
			<div fxFlex="2 0 200px">
				<s4-lov id="selagy_loc_id_name" name="selagy_loc_id_name" [(ngModel)]="crteventsModel.agyLocIdName" required="true" [placeholder]="translateService.translate('system-profile.inst-agency')" [descTitle]="translateService.translate('system-profile.inst-agency')" [link]="facilityUrl" #facility (click)="checkVal(facility)" [readonly]="isReadOnly(facility) || facilityRead" optionWidth="350" (optionChange)="facilityChange()" source="OUMAGLOC">
				</s4-lov>
			</div>
			<div fxFlex="2 0 150px">
				<s4-lov id="sellevel_1_code" name="sellevel_1_code" [(ngModel)]="crteventsModel.level1Code" [placeholder]="translateService.translate('oiicmoci.livingunit1')" [link]="livingUnitOneUrl" optionWidth="350" (optionChange)="livingUnitOneChange()" #livingUnitOne (click)="checkVal(livingUnitOne)" [readonly]="isReadOnly(livingUnitOne) || !crteventsModel.agyLocIdName || livingUnitOneRead" codeTitle="Living Unit ID" descTitle="Codes" source="OIMMHOLO"> 
				</s4-lov>
			</div>
			<div fxFlex="2 0 150px">
				<s4-lov id="sellevel_2_code" name="sellevel_2_code" [(ngModel)]="crteventsModel.level2Code" [placeholder]="translateService.translate('oiicmoci.livingunit2')" [link]="livingUnitTwoUrl" optionWidth="350" (optionChange)="livingUnitTwoChange()" #livingUnitTwo (click)="checkVal(livingUnitTwo)" [readonly]="isReadOnly(livingUnitTwo) || !crteventsModel.level1Code || livingUnitTwoRead" codeTitle="Living Unit ID" descTitle="Codes" source="OIMMHOLO">
				</s4-lov>
			</div>
			<div fxFlex="2 0 150px">
				<s4-lov id="sellevel_3_code" name="sellevel_3_code" [(ngModel)]="crteventsModel.level3Code" [placeholder]="translateService.translate('oiicmoci.livingunit3')" [link]="livingUnitThreeUrl" optionWidth="350" #livingUnitThree (click)="checkVal(livingUnitThree)" [readonly]="!crteventsModel.level2Code || isReadOnly(livingUnitThree) || livingUnitThreeRead" codeTitle="Living Unit ID" descTitle="Codes" source="OIMMHOLO">
				</s4-lov>
			</div>
	
			<div fxFlex="2 0 150px">
					<s4-textbox [readonly]="offenderIdDisplayReadonly" [(ngModel)]="crteventsModel.offenderIdDisplay" id="textoffender_id_display" name="textoffender_id_display" [placeholder]="translateService.translate('system-profile.off-id-code')" maxlength="10" (blur)="namesrchExecuteQuery()"></s4-textbox>
					
			</div>
			<div fxFlex="0 0 auto">
					<s4-launchbutton modal="true" width="80%" (click)="openGo()" [disabled]="disableLaunchBut">
						{{translateService.translate('ocittask.btndotdot')}}
					</s4-launchbutton>
				</div>
			<div fxFlex="0 2 300px">
				<s4-textbox id="textnbt_offender" [readonly]="offenderNameReadonly" name="textnbt_offender" [(ngModel)]="offenderName" [placeholder]="translateService.translate('oiicmoci.offender')" maxlength="75">
				</s4-textbox>
			</div>
			
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button type="primary" id="crtschdlertv" name="crtschdlertv" [disabled]="oiicmociForm.invalid || rtrvBtn" (onClick)="ok()">{{translateService.translate('common.retrieve')}}
			</s4-button>
			<s4-button id="crtschdleclr" name="crtschdleclr" (onClick)="no()" [disabled]="clearFlag">
					{{translateService.translate('common.clear')}}
			</s4-button>
		</div>
		</form>
	</s4-panel>
	<s4-panel [cardType]="true" [title]="translateService.translate('oiicmoci.offenderchedules')">
		<div fxLayout fxLayout.xs="column">
			<div fxFlex="100%" fxFlex.xs="fixed" fxLayout="row">
				<div fxFlex="100%">
					<s4-grid id="offschtab" [rowData]="offschData" [columnDefs]="offSchColumnDef" (rowClicked)="onRowClickoffsch($event)">
					</s4-grid>
				</div>
			</div>
		</div>
	</s4-panel>
</s4-pane>
<!-- // TODO BlockName: MYMENU and Parent Filename: SJS_FORMS10G.olb-->