<mat-form-field class="component-full-width" #container>
	<label class="s4-label">{{placeholder}}</label>
		<span *ngIf="required" style="color: red;">*</span>
		<span>
		  <mat-error *ngIf="passwordControl.hasError('required') && (passwordControl.dirty || passwordControl.touched)"> 
			A {{placeholder}} is required. 
		</mat-error>
		</span>
		<span>
		<mat-error *ngIf="isValidatePassword() && isErrorShow"> 
			{{errorMsg}}
		</mat-error>
		</span>
		<input matInput type="password" autocomplete="new-password"
			 [(ngModel)]="value" (blur)="onBlur(value)" (ngModelChange)="valueChange()" 
			[disabled]="disabled" [readonly]="readonly" [required]="required"
			[maxlength]="maxlength" id={{id}} #passwordControl="ngModel" #password> 

			
		
	</mat-form-field>
	
	