<s4-dialog-card class="s4-dialog-card" [title]="translateService.translate('omuvrest.visitorrestrictionwimdow')" screenId="OMUVREST" #dialog>
	<s4-dialog-card-content class="s4-dialog-card-content">
		<app-omuvrest [visitor]="visitor" [editableGrid]="editableGrid"></app-omuvrest>
	</s4-dialog-card-content>
	<s4-dialog-card-actions class="s4-dialog-card-actions">
		<div fxLayout="row wrap" fxLayoutAlign="start end" fxLayoutGap="7px" class="btn-mt9">
			<s4-button (onClick)="dialog.close(null)">{{translateService.translate('omuvrest.exit')}}</s4-button>
		</div>
	</s4-dialog-card-actions>
</s4-dialog-card>